<include file="Common:header"/>
<!-- <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css"> -->
<link rel="stylesheet" href="__PUBLIC__/css/home/integrallist.css">
<div class="kap-top ty-menu-top">
    <div id="tools_msg" class="ty-tools ty-tools-inner ty-tools-current">
        <span class="title">{$title}<span class="num"></span></span>
        <a href="javascript:void(0);" onclick="history.go(-1); " class="btn left btn-user" title="返回" data-icon="ɒ"></a>
        <a href="{:U('Personal/index',array('current'=>'4'))}" class="btn right btn-user" title="返回个人中心"
           data-icon="Ņ"></a>
    </div>
</div>
<div class="m-hdlist">
    <div class="m-main">
        <div class="title-g"><span>我的积分统计</span></div>
        <ul class="m-list clr">
          <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon01.png">
           </div>
            <div class="fz16">
            获得积分总汇<br/>
            <span class="red">{$integral.totalGet|default='0'}</span>
            </div>
          </li>
           <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon02.jpg">
           </div>
            <div class="fz16">
            积分使用汇总<br/>
            <span class="blue">{$integral.totalUse|default='0'}</span>
            </div>
          </li>
           <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon02.png">
           </div>
            <div class="fz16">
            积分余额<br/>
            <span class="green">{$integral.now|default='0'}</span>
            </div>
          </li>
        </ul>
        <div style="clear:both"></div>
        <div class="title-r"><span>积分获得详情</span></div>
           <ul class="m-list clr">
          <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon03.png">
           </div>
            <div class="fz16">
            注册<br/>
            <span class="red">{$integral.registerIntegral|default='0'}</span>
            </div>
          </li>
           <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon04.png">
           </div>
            <div class="fz16">
            签到<br/>
            <span class="red">{$integral.singIntegral|default='0'}</span>
            </div>
          </li>
           <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon05.png">
           </div>
            <div class="fz16">
            转发<br/>
            <span class="red">{$integral.shareIntegral|default='0'}</span>
            </div>
          </li>
           <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon06.png">
           </div>
            <div class="fz16">
            到访<br/>
            <span class="red">{$integral.visitIntegral|default='0'}</span>
            </div>
          </li>
           <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon07.png">
           </div>
            <div class="fz16">
            推荐<br/>
            <span class="red">{$integral.inviteRegIntegral|default='0'}</span>
            </div>
          </li>
           <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon08.png">
           </div>
            <div class="fz16">
            报名<br/>
            <span class="red">{$integral.signClassIntegral|default='0'}</span>
            </div>
          </li>
        </ul>
        <div style="clear:both"></div>

        <div class="title-b"><span>积分使用详情</span></div>
           <ul class="m-list clr">
          <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon09.png">
           </div>
            <div class="fz16">
            购买课程<br/>
            <span class="blue">{$integral.buyClassIntegral|default='0'}</span>
            </div>
          </li>
           <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon10.png">
           </div>
            <div class="fz16">
            兑换商品<br/>
            <span class="blue">{$integral.exchangeProductIntegral|default='0'}</span>
            </div>
          </li>
           <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon11.png">
           </div>
            <div class="fz16">
            兑换红包<br/>
            <span class="blue">{$integral.exchangeRedIntegral|default='0'}</span>
            </div>
          </li>
           <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon12.png">
           </div>
            <div class="fz16">
            家教付费<br/>
            <span class="blue">{$integral.homeClassIntegral|default='0'}</span>
            </div>
          </li>
           <li>
           <div class="ico">
           <img src="__PUBLIC__/images/integral_icon13.png">
           </div>
            <div class="fz16">
            游戏娱乐<br/>
            <span class="blue">{$integral.gameIntegral|default='0'}</span>
            </div>
          </li>
        </ul>
        <div style="clear:both"></div>
        <div class="title-b"><span>积分消费</span></div>
        <ul class="go">
          <li>
            <a href="/index.php/Lottery/index.html?token=g232238gc959">
              <img src="__PUBLIC__/images/choujiang.png">
              <span>去抽奖</span>
            </a>
          </li>
          <li>
            <a href="/index.php/Boutique/index.html?token=g232238gc959">
              <img src="__PUBLIC__/images/shop.png">
              <span>去购物</span>
            </a>
          </li>
        </ul>
    </div>
</div>
  <script>
    function red(id) {
        layer.open({
            type: 2,
            title: '积分兑红包',
            shadeClose: false,
            shade: 0.8,
            area: ['80%', '60%'],
            content: ["{:U('Personal/red',array('id'=>" + id + "))}", 'no'] //iframe的url
//            content:"<section></section>"
        });
    }
  </script>
  <include file="Common:footer"/>
</body>
</html>
