body,html{
	background: #f1f1f1;
}
.middle{
	padding-top: 1.36rem;
}

.status{
	height: 2.71rem;
	background-color: white;
	width: 100%;
	margin-bottom: 0.2rem;
}
.status>img{
	width: 2.22rem;
	height: 2.12rem;
	float: left;
	margin: 0.29rem 0.37rem;
}
.status .text{
	float: left;
}
.status .type{
	font-size: 0.48rem;
	font-weight: bold;
	color: #db6066;
	margin-top: 0.4rem;
	font-size: 0.48rem;
}
.delivery{
	font-size: 0.36rem;
	margin: 0.5rem 0;
}
#express{
	font-size: 0.36rem;
}
#express_number{
	font-size: 0.36rem;
}
.mobile{
	font-size: 0.36rem;
	width: 7.75rem;
	margin-top: 0.1rem;
}
.mobile span{
	font-size: 0.36rem;
	color: #386998;
	font-weight: bold;
}
.mobile a{
	height: 0.55rem;
	width: 1.77rem;
	color: #386998;
	border: 0.03rem solid #386998;
	display: inline-block;
	float: right;
	font-size: 0.34rem;
	text-align: center;
	line-height: 0.55rem;
	border-radius: 0.1rem;
}
.express_list{
	background-color: white;
	overflow: hidden;
}
.express_list li{
	height: 2rem;
	clear: both;
}
.express_list .time{
	border-right: 0.03rem solid #a9a9a9;
	text-align: center;
	width: 3.26rem;
	float: left;
	height: 2rem;
	position: relative;
}
.express_list .time span{
	display: block;
	font-size: 0.42rem;
}
.express_list .time img{
    position: absolute;
    right: -0.32rem;
    width: 0.61rem;
    height: 0.6rem;
    top: 0;
}
.express_list .content{
	float: left;
	width: 7.88rem;
	height: 2rem;
}
.express_list .content p{
	padding:0 0.2rem; 
	font-size: 0.42rem;
	padding-left: 0.4rem;
}