body,html{
	background-color: #f0f1f1;
}
/*中部开始*/
.middle{
	margin-top: 1.34rem;
	margin-bottom: 1.7rem;
}


.light{
    height: 0.2rem;
    background: #f1f1f1;
    margin-bottom: -0.02rem;
}
.light2{
    height: 0.12rem;
    background: #f1f1f1;
}
.navList{
    position: fixed;
    margin-top: 1.2rem;
    width: 100%;
    top:0;
    z-index: 10000;
}
.smallNav{
     background:#fff;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x:scroll ;
    margin-top: -0.05rem;
}
.smallNav::-webkit-scrollbar {
    display: none;
}
.smallNav li{
    width: 24.5%;
    text-align: center;
    display: inline-block;
    height: 1.3rem;
    line-height: 1.3rem;
}

.smallNav li.on a{
    border: solid 0.03rem #f56b85;
    color: #f56b85;
}
.smallNav a{
    font-size: 0.45rem;
    /*display: block;*/
    color: #505050;
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
}

.product{
    padding-top: 1.3rem;
}
/*精品课程*/
.course{
    background-color: white;
    overflow: hidden;
    /*padding-bottom: 0.45rem;*/
    padding-bottom: 0.22rem;
    margin-bottom: 0.2rem;
}
.course >h3{
    font-size: 0.2669rem;
    color: #959696;
    font-weight: normal;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    font-weight: normal;
}
.course >h3 strong{
    font-size: 0.5rem;
    color: #386998;
    font-weight: normal;
}
.course .advert img{
    width: 100%;
    height: 1.62rem;
}
.courseContent{
    padding-top: 0.45rem;
}
.courseContent .img{
    position: relative;
    float: right;
    margin-right: 0.37rem;
}
.courseContent .img .courseImg{
    width: 5.39rem;
    height: 3.83rem;
}
.courseContent .tap{
    height: 1.04rem;
    width: 1.15rem;
    position: absolute;
    top: -0.05rem;
    left: 0.1rem;
}
.courseContent .logoTap{
    height: 1.04rem;
    width: 1.15rem;
    position: absolute;
}
.courseContent .img .imgLogo{
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    top: 0.15rem;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.courseContent .type{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 0.8rem;
    line-height: 0.8rem;
    overflow: hidden;
}
.courseContent .type span{
    height: 0.56rem;
    line-height: 0.56rem;
    font-size: 0.34rem;
    padding: 0 0.15rem;
    color: white;
    display: inline-block;
    margin-right: 0.15rem;
    border-radius: 0.1rem;
    margin-top: 0.12rem;
}
.courseContent .type span:first-child{
    background-color: #ffc62d;
    margin-left: 0.3rem;
}
.courseContent .type span:nth-child(2){
    background-color: #e0656b;
}
.courseContent .type span:nth-child(3){
    background-color: #62b7e3;
}
.courseContent .text{
    float: left;
    margin-left: 0.24rem;
}
.courseContent .text h3{
    font-size: 0.45rem;
    line-height: 0.6rem;
    color: #386998;
    margin: 0.18rem 0rem 0.35rem;
    width: 5rem;
    height: 0.9rem;
    font-weight: normal;
}
.courseContent .text .groupPrice{
    font-size: 0.35rem;
    color: #386998;
    /*font-weight: bold;*/
}
.courseContent .text .moneySign{
    font-size: 0.35rem;
    color: #db6066;
}
.courseContent .groupPrice strong{
    font-size: 0.6rem;
    color: #db6066;
}
.courseContent .originalPrice{
    font-size: 0.3rem;
    color: #386998;
    text-decoration: line-through;
    margin-top: 0.1rem;
}
.courseContent .text .try{
    margin-top: 0.3rem;
}
.courseContent .text .try a{
    width: 2.15rem;
    height: 0.72rem;
    border-radius: 0.1rem;
    font-weight: bold;
    text-align: center;
    line-height: 0.72rem;
    font-size: 0.4rem;
    display: inline-block;
    margin-right: 0.3rem;
}
.courseContent .text .try a:first-child{
    border:0.05rem solid #83cf95;
    color: #83cf95;
}
.courseContent .text .try a:nth-child(2){
    border:0.05rem solid #db6066;
    color: #db6066;
}