.groupsNum{
        height: 2.16rem;
        line-height: 2.16rem;
        overflow: hidden;
        border-bottom: 3px solid #f0f1f1
    }
    .groupsNum img{
        height: 1.44rem;
        width: 1.5rem;
        margin-left: 1rem;
        margin-top: -0.2rem;
    }
    .groupsNum span{
        font-size: 1rem;
    }
    .groupsNum span strong{
        font-size: 1rem;
    }
    .groupsNum .next{
        font-family: "宋体"!important;
    }
    .groupsHeadImg{
        overflow: hidden;
        border-bottom: 5px solid #f0f1f1;
    }
    .groupsHeadImg li{
        width: 16.6%;
        text-align: center;
        float: left;
        padding: 0.5rem 0;
    }
    .groupsHeadImg li img{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin-bottom: 0.5rem;
    }
    .groupsHeadImg span{
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .ty-tools i {
        margin-left: 1.125rem!important;
        margin-top: 0.4rem!important;
        float: left;
    }
    .ty-tools-order a.btn-order{
        font-size: 0.9rem!important;
    }
    body{
        background-color: #f9f9f9;
    }
    .tap{
        width: 33%;
        display: table-cell;
        border-bottom: .125rem solid rgba(255, 255, 255, 0);
        margin: 0;
        padding: 0;
        height: 2.375rem;
        line-height: 2.375rem;
        cursor: pointer;
    }
    .tap.on{
        color: #386998;
        border-bottom-color: #386998;
    }