 .icon_back {
        opacity: 1;
    }

    .main p{
        font-size:20px;
        text-align: center;
        color:#15649c;
        font-weight: 600;
    }
    .main p a{
        color:#17669e;
    }
    .main .back_1 {
        width:100%;
        height:11em;
        padding-top:20px;
        background: url(/Public/images/gm_poster.png) no-repeat center 26px;
        background-size:58%;
    }
    .main .back_2 img{
        width:60%;
        display: block;
        margin:0 auto;
    }
    .main .tel_1{
        width:60%;
        height:2em;
        background: url(/Public/images/gm_call01.png) no-repeat 13px center;
        background-size: 13%;
        background-color: #bad5e8;
        margin:0 auto;
        line-height: 2em;
        border-radius:20px;
    }
    .main .tel_2{
        width:60%;
        height:2em;
        background: url(/Public/images/gm_call02.png) no-repeat 17px center;
        background-size: 10%;
        background-color: #bad5e8;
        margin:10px auto 0 auto;
        line-height: 2em;
        border-radius:20px;
    }