.ty-detail-cover .time::before{
    background-color:#f18f4e;
}
.ty-detail-cover .sign::before{
    background-color:#f6d94f;
}
.Group .bargain{
    top:-11rem;
}
.itemtime{
    border-top: 10px solid #f0f1f1;
    padding: .5rem;
}
.itemtime label{
    float: right;
    color: red;
}
.numbers .change-headernav ul li{
    width:16%;
}
.numbers .change-headernav ul li .ico{
    height:2rem;
    width:2rem;
}
.zhang{
    position: absolute;
    right: 8px;
    top: -12rem;
    color: #fff;

}