 /*头部 start*/
.header{
    height: 1.2rem;
    line-height: 1.22rem;
    position: fixed;
    width: 100%;
    background: white;
    overflow: hidden;
    z-index: 100;
    clear: both;
}
.header a:first-child{
    left: 0.27rem;
    position: absolute;
}
.header a:first-child img{
    margin-top: 0.4rem;
    height: 0.5rem;
}
.header h3{
    text-align: center;
    font-size: 0.52rem;
    color: #065b9c;
    margin-left: 0.3rem;
    margin-top: 0.05rem;
}
/*头部 end*/
/*中部 start*/
.middle{
    padding-top: 1.4rem;
    background: #f0f1f1;
}
/*商品砍价*/
.shopBargain{
    overflow: hidden;
}
.shopBargain ul li{
    width: 5.3rem;
    height: 7.64rem;
    padding-left: 0.2rem;
    float: left;
    background: white;
    padding-top:0.35rem;
    margin-bottom: 0.2rem;
    position: relative;
}
.shopBargain ul li:nth-child(odd){
    margin-right: 0.2rem;
}
.shopBargain .tapImg{
    position: absolute;
    left: 0.2rem;
    top: -0.1rem;
    z-index: 10000;
}
.shopBargain .tapImg img{
    width: 1.15rem;
    height: 1.12rem;
}
.shopBargain .tapImg span{
    position: absolute;
    color: white;
    font-size: 0.36rem;
    left: 0.22rem;
    top: 0.2rem;
}
.shopBargain .img{
    width: 5.11rem;
    height: 5.11rem;
    position: relative;
}
.shopBargain .img img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.shopBargain .text h3{
    margin-top: 0.1rem;
    font-size: 0.48rem;
    color: #386998;
}
.shopBargain .text p span{
    font-size: 0.4rem;
    color: #386998;
}
.shopBargain .text p span strong{
    font-size: 0.6rem;
    color: #db6066;
}
.shopBargain .type{
    text-align: right;
    overflow: hidden;
}
.shopBargain .type span{
    font-size: 0.3401rem;
    color: white;
    padding: 0 0.25rem;
    margin-right: 0.1rem;
    border-radius: 0.1rem;
    height: 0.52rem;
    line-height: 0.52rem;
    display: inline-block;
}
.shopBargain .type span:first-child{
    background: #6fbee4;
}
.shopBargain .type span:nth-child(2){
    background: #de8cbd;
    margin-right: 0.2rem;
}