.Group {
    margin-top: 3rem;
}

.Group .title {
    font-family: "Microsoft YaHei", "微软雅黑", Arial;
    font-weight: 600;
    color: #1d709c;
    font-size: 3.5vh;
    margin-bottom: 1vh;
}

.Group .original {
    font-size: 2vh;
}

.group-button {
    display: inline-block;
    width: 12vh;
    text-align: center;
    height: 3vh;
    line-height: 3vh;
    margin-right: 1vh;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
}

.group-button > a {
    color: #fff;
}

.group-gray {
    background: gray;
}

.group-yellow {
    background: #f9d409;
}

.group-red {
    background: #f74f5c;
}

.group-orange {
    background: #faa804;
}

.group-green {
    background: #1ac485;
}

.group-blue {
    background: #1869a1;
}

.group-sky-blue {
    background: #00d5dc;
}