/*公共样式 start*/
*{
	margin: 0;
	padding: 0;
	font-size: 0.12rem;
	}
li{
	list-style: none;
	}
a,button{
	text-decoration: none;
    border:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
    outline:none;
    tap-highlight-color:rgba(0,0,0,0);
    tap-highlight-color:transparent;
	}
input,textarea,select,button,option{
	outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color:rgba(0,0,0,0);
    tap-highlight-color:transparent;
     -webkit-tap-highlight-color:transparent;
     direction: ltr;
     background-color: transparent;
	}
img{
	border: none;
	display: block;
	}
textarea{
	resize: none;
	overflow: hidden;
	}
body,html{
	font-family: "微软雅黑";
    background-color: #f0f1f1;
}	
/*公共样式 end*/

/*定义字体*/
/*@font-face {
    font-family: "iconfont";
    src: url('fonts/iconfont.eot');
    src: url('fonts/iconfont.svg') format('svg'),
    url('fonts/iconfont.eot') format('embedded-opentype'),
    url('fonts/iconfont.ttf') format('truetype'),
    url('fonts/iconfont.woff') format('woff');
}*/
[data-icon]:before {
    content: attr(data-icon);
    display: inline-block;
    margin-right: .25rem;
     font-family: "iconfont" !important;
    font-size: 0.8rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
    color: #386998!important;
}

/*中部样式*/
.middle{
    margin-top: 1.38rem;
    padding-bottom: 1.7rem;
    overflow: hidden;
}
/*广告图*/
.advert a img{
    height: 3.75rem;
    width: 100%;
    margin-bottom: 0.2rem;
}
/*拼团上课*/
.classify{
    overflow: hidden;
}
.classify >h3{
    font-size: 0.2669rem;
    color: #959696;
    font-weight: normal;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    background-color: white;
    border-bottom: 0.01rem solid #c1c1c1;
}
.classify >h3 strong{
    font-size: 0.5rem;
    color: #386998;
    font-weight: normal;
}
.classify .classifyNav{
    background-color: white;
    overflow: hidden;
    margin-bottom: 0.2rem;
}
.classify .classifyNav ul li{
    width: 20%;
    float: left;
    text-align: center;
    height: 1.27rem;
    line-height: 1.27rem;
}
.classifyNav li a{
    width: 1.82rem;
    height: 0.65rem;
    line-height: 0.65rem;
    text-align: center;
    font-size: 0.378rem;
    color: black;
    display: inline-block;
    border-radius: 0.1rem;
}
.classify .classifyNav ul li.on a{
    border:0.05rem solid #db6066;
    color: #db6066;
}
.classify .article{
    background-color: white;
    margin-bottom: 0.22rem;
    overflow: hidden;
    height: 2.98rem;
}
.classify .article{
    position: relative;
}
.classify .articleTap{
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    width: 1.72rem;
    height: 1.72rem;
    background-color: #db6066;
    border-radius: 50%;
}
.classify .articleTap span{
    position: absolute;
    font-size: 0.4394rem;
    color: white;
    transform: rotate(-45deg);
    font-weight: bold;
    width: 1.4rem;
    right: 0;
    bottom: 0.4rem;
    text-align: center;
}
.classify .article .left{
    float: left;
}
.classify .article .left h3{
    font-size: 0.48rem;
    color: #386998;
    margin-top: 0.5rem;
    margin-left: 1.35rem;
}
.classify .article .left p{
    font-size: 0.48rem;
    color: #386998;
    font-weight: bold;
    margin-left: 1.35rem;
}
.classify .article .type{
    margin-top: 0.36rem;
    overflow: hidden;
}
.classify .article .comment{
    float: left;
    margin-left: 0.7rem;
}
.classify .article .comment img{
    width: 0.38rem;
    height: 0.39rem;
    float: left;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
}
.classify .article .comment span{
    float: left;
    font-size: 0.3rem;
}
.classify .article .collect{
    float: left;
}
.classify .article .collect img{
    width: 0.39rem;
    height: 0.38rem;
    float: left;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
}
.classify .article .collect span{
    float: left;
    font-size: 0.3rem;
}
.classify .article .send{
    float: left;
}
.classify .article .send img{
    width: 0.37rem;
    height: 0.35rem;
    float: left;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
}
.classify .article .send span{
    float: left;
    font-size: 0.3rem;
}
.classify .right{
    float: right;
}
.classify .right img{
    width: 3.1rem;
    height: 2.12rem;
    margin-top: 0.42rem;
    margin-right: 0.42rem;
}
/*团购类型*/
.groupsType{
    background: white;
    margin:0 0 0.06rem;
    overflow: hidden;
}
.groupsType li{
    width: 50%;
    float: left;
    height: 1.08rem;
    line-height: 1.08rem;
    text-align: center;
    box-sizing: border-box;
    color: #386998;
    font-size: 0.45rem;
}
.groupsType li.on{
    border-bottom: 0.11rem solid #386998;
}

.courseList ul li{
    margin-bottom: 0.2rem;
    overflow: hidden;
    padding-bottom: 0.45rem;
    padding-top: 0.45rem;
    background: white;
}
.courseList .img{
    position: relative;
    float: left;
    margin-left: 0.24rem;
    margin-right: 0.37rem;
}
.courseList .img .courseImg{
    width: 5.39rem;
    height: 3.83rem;
}
.courseList .tap{
    height: 1.04rem;
    width: 1.15rem;
    position: absolute;
    top: -0.05rem;
    left: 0.1rem;
}
.courseList .logoTap{
    height: 1.04rem;
    width: 1.15rem;
    position: absolute;
}
.courseList .img .imgLogo{
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    top: 0.15rem;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.courseList .type{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 0.8rem;
    line-height: 0.8rem;
    overflow: hidden;
}
.courseList .type span{
    height: 0.56rem;
    line-height: 0.56rem;
    font-size: 0.34rem;
    padding: 0 0.15rem;
    color: white;
    display: inline-block;
    margin-right: 0.15rem;
    border-radius: 0.1rem;
    margin-top: 0.12rem;
}
.courseList .type span:first-child{
    background-color: #ffc62d;
    margin-left: 0.3rem;
}
.courseList .type span:nth-child(2){
    background-color: #e0656b;
}
.courseList .type span:nth-child(3){
    background-color: #62b7e3;
}
.courseList .text{
    float: left;
    width: 5.2rem;
}
.courseList .text .time{
    float: right;
    margin-right: 0.28rem;
    overflow: hidden;
}
.courseList .text .time img{
    width: 0.29rem;
    height: 0.37rem;
    float: left;
}
.courseList .text .time span{
    float: left;
    margin-left: 0.15rem;
    margin-top: -0.05rem;
    font-size: 0.36rem;
    color: #626262;
}
.courseList .text h3{
    clear: both;
}
.courseList .text h3{
    font-size: 0.48rem;
    line-height: 0.48rem;
    color: #386998;
    margin: 0.22rem 0 0;
    padding-top: 0.22rem;
}
.courseList .text .groupPrice{
    font-size: 0.4rem;
    color: #386998;
    font-weight: bold;
}
.courseList .text .moneySign{
    font-size: 0.4rem;
    color: #db6066;
}
.courseList .groupPrice strong{
    font-size: 0.6rem;
    color: #db6066;
}
.courseList .originalPrice{
    font-size: 0.36rem;
    color: #386998;
    text-decoration: line-through;
}
.courseList .text a{
    width: 5.1rem;
    height: 0.72rem;
    border-radius: 0.1rem;
    font-weight: bold;
    text-align: center;
    line-height: 0.72rem;
    font-size: 0.4rem;
    display: inline-block;
    margin-right: 0.25rem;
    border:0.05rem solid #db6066;
    color: #db6066;
    float: right;
    margin-top: 0.05rem;
    margin-bottom: 0.1rem;
}
.courseList .text .groupNum{
    clear: both;
}
.courseList .groupNum .finished{
    font-size: 0.2876rem;
    float: left;
    margin-top: 0.05rem
}
.courseList .groupNum .bar{
    width: 1.9rem;
    height: 0.2rem;
    border-radius: 0.2rem;
    float: left;
    margin-top: 0.1rem;
    border:0.04rem solid #db6066;
    margin-left: 0.1rem;
    overflow: hidden;
}
.courseList .groupNum .bar span{
    height: 0.2rem;
    width: 1rem;
    background-color: #ffa3a7;
    border-radius: 0.2rem;
    display: block;
    margin-left: -0.01rem;
    float: left;
}
.nowPeople,.allPeople{
    font-size: 0.2876rem;
}

/*插件轮播当前圆点状态*/
/*商品部分*/
.pagination .swiper-pagination-clickable{
    width: 100%;
    text-align: center;
}

.swiper-pagination-bullet{
    margin:0 0.2rem;
}
.swiper-pagination-bullet-active{
    background: #386998;
}
/*头部部分*/
.pagination1{
    z-index: 100000;
    position: absolute;
    margin-top: -0.5rem;
}
.pagination1 .swiper-pagination-bullet{
    background:white;
    opacity: 1;
}
.pagination1 .swiper-pagination-bullet-active{
    background:#ffce55!important;
}
.pagination2{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

/*关注弹框*/
.tellBox{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 1000000000;
}
 .tellContent{
    border-radius: 0.1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 9.76rem;
    width:8.96rem;
    margin: auto;
    background: white;
}
.tellContent .closeBtn{
    float: right;
    height: 0.47rem;
    width: 0.47rem;
    margin-top: 0.28rem;
    margin-right: 0.3rem;
}
.tellContent h3{
    text-align: center;
    font-size: 0.5361rem;
    color: white;
    background: #386998;
    height: 1.3rem;
    line-height: 1.3rem;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}
.tellContent div{
    text-align: center;
    font-size: 0.42rem;
}
.tellContent div p{
    width: 98%;
    padding: 1.17rem 0 0.77rem;
    border-bottom: 0.01rem solid #e7e7e7;
    color: #236b9c;
    margin: 0 auto;
}
.tellContent >a{
    display: block;
    color: #ff4a58;
    text-align: center;
    font-size: 0.36rem;
    margin: 0.66rem 0 0.59rem;
    text-decoration: underline;
}
.tellContent .code{
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto;
}