/*头部 start*/
.header{
    height: 1.2rem;
    line-height: 1.22rem;
    position: fixed;
    width: 100%;
    background: white;
    overflow: hidden;
    z-index: 100;
    clear: both;
}
.header a:first-child{
    left: 0.27rem;
    position: absolute;
}
.header a:first-child img{
    margin-top: 0.4rem;
    height: 0.5rem;
}
.header h3{
    text-align: center;
    font-size: 0.52rem;
    color: #065b9c;
    margin-left: 0.3rem;
    margin-top: 0.05rem;
}
/*头部 end*/
/*中部 start*/
.middle{
    padding-top: 1.2rem;
    background: #f0f1f1;
}
.date{
    background: #386998;
    background: url(../../../../Public/images/scheduleBg.jpg) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.date .dateHead{
    overflow: hidden;
    position: relative;
}
.date .dateHead .calendar_month_prev{
    position: absolute;
    color: white;
    font-size: 0.5rem;
    font-family: "宋体";
    font-weight: bolder;
    left: 3rem;
    line-height: 1rem;
    height: 1rem;
    width: 0.7rem;
   padding: 0 0.3rem;
}
.date .dateHead .calendar_month_next{
    position: absolute;
    color: white;
    font-size: 0.5rem;
    font-family: "宋体";
    font-weight: bolder;
    right: 3rem;
    line-height: 1rem;
    height: 1rem;
    width: 0.7rem;
   /*padding: 0 0.3rem;*/
}
.date .explain{
    font-size: 0.5rem;
    text-align: center;
    color: white;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
}
.title{
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: white;
    font-size: 0.48rem;
    font-weight: normal;
}
.day{
    width: 10.5rem;
    margin: 0 auto;
    height: 0.93rem;
    background: #6fbee4;
    border-top-right-radius: 0.1rem;
    border-top-left-radius: 0.1rem;
}
.day ul{
    display: flex;
    justify-content: space-around;
}
.day ul li{
    float: left;
    height: 0.93rem;
    line-height: 0.93rem;
}
.day ul li a{
    color: white;
    font-size: 0.4rem;
}
.list{
    width: 11rem;
    margin: 0 auto;
    margin-top: 0.05rem;
    padding-bottom: 0.28rem;
}
.list .schedule-bd{
    width: 10.5rem;
    margin:0 auto;
}
.list .schedule-bd{
	overflow: hidden;
}
.list .schedule-bd li{
	float: left;
	overflow: hidden;
}
.list .schedule-bd li {
    font-size: 0.48rem;
    border:0.01rem solid #386998;
    border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    height: 1.5rem;
    width: 1.5rem;
    background: white;
    text-align: center;
    position: relative;
    float: left;
    line-height: 1.5rem;
    display: block;
    box-sizing: border-box;
    
}
.list .schedule-bd li span{
    width: 100%;
    height: 100%;
    display: block;
}
.list .schedule-bd li span{
	font-size: 0.48rem;;
}
.list .schedule-bd li .red{
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background: red;
    display: inherit;
    position: absolute;
    right: 0;
    margin: 0.05rem;
}
.list .schedule-bd li .gray{
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background: gray;
    display: inherit;
    position: absolute;
    right: 0;
    margin: 0.05rem;
}
.list table tr td.active{
    background-color: #ffb400!important;
}
.advert{
    height: 2.33rem;
    width: 100%;
    margin-top: 0.12rem;
    margin-bottom: 0.16rem;
}
.advert img{
    height: 2.33rem;
    width: 100%;
}



.arrange{
    width: 10.5rem;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 1.18rem;
}
.arrange ul li{
    overflow: hidden;
    margin-bottom: 0.06rem;
}
.arrange .classTime{
    padding-left: 0.2rem;
    background: #c1e152;
    border-top-right-radius: 0.1rem;
    border-top-left-radius: 0.1rem;
    margin-bottom: 0.06rem;
}
.arrange .classTime span{
    height: 1rem;
    line-height: 1rem;
    font-size: 0.42rem;
    color: white;
}
.arrange .timeLong{
    float: left;
    width: 23%;
    height: 4.54rem;
    background: #99d8f6;
    color: white;
    text-align: center;
    margin-right: 0.05rem;
}
.arrange .timeLong a{
    font-size: 0.4rem;
    width: 1.95rem;
    height: 0.85rem;
    display: inline-block;
    background: #386998;
    line-height: 0.85rem;
    border-radius: 0.1rem;
    margin-top: 0.5rem;
    color: white;
}
.arrange .timeLong span{
    display: block;
    text-align: center;
    font-size: 0.42rem;
}
.arrange .timeLong span:first-child{
    margin-top: 1rem;
}

.arrange .classText{
    float: right;
    width: 76.5%;
}
.arrange .classText h3{
    height: 0.91rem;
    line-height: 0.91rem;
    font-size: 0.48rem;
    color: #386998;
    width: 7.85rem;
    background: white;
    padding-left: 0.2rem;
}
.arrange .teacher{
    height: 0.91rem;
    line-height: 0.91rem;
    font-size: 0.42rem;
    color: #386998;
    width: 7.85rem;
    background: #e3f2f9;
    padding-left: 0.2rem;
}
.teacher span{
    font-size: 0.42rem;
    margin-left: 0.47rem;
}
.arrange .classNum{
    height: 0.91rem;
    line-height: 0.91rem;
    font-size: 0.42rem;
    color: #386998;
    width: 7.85rem;
    background: white;
    padding-left: 0.2rem;
}
.classNum span{
    font-size: 0.42rem;
    margin-left: 0.47rem;
}
.arrange .address{
    /*height: 0.91rem;*/
    line-height: 0.91rem;
    font-size: 0.42rem;
    color: #386998;
    width: 7.85rem;
    background: #e3f2f9;
    padding-left: 0.2rem;
}
.address label{
    float: left;
    font-size: 0.42rem;
}
.address span{
    font-size: 0.42rem;
    margin-left: 0.47rem;
    width: 4.3rem;
    display: inline-block;
/*    overflow-x: scroll;
    white-space: nowrap;*/
}
.arrange .address img{
    float: right;
    width: 0.38rem;
    height: 0.5rem;
    margin-right: 0.46rem;
    margin-top: 0.2rem;
}
.arrange .phone{
    height: 0.91rem;
    line-height: 0.91rem;
    font-size: 0.42rem;
    color: #386998;
    width: 7.85rem;
    background: white;
    padding-left: 0.2rem;
    position: relative;
}
.phone span{
    font-size: 0.42rem;
    margin-left: 0.47rem;
    color: #386998;
}
.arrange .phone >a{
    display: inline-block;
    width: 5.5rem;
}
.arrange .phone img{
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    right: 0.4rem;
    top: 0.2rem;
}
.uploadInfo{
    position: relative;
    margin-top: 1rem;
}
.uploadInfo img{
    width: 10.36rem;
    height: 4.14rem;
    margin: 0 auto;
}
.uploadInfo span{
    width: 5.45rem;
    height: 1.2rem;
    position: absolute;
    bottom: 0.5rem;
    color: white;
    text-align: center;
    line-height: 1.2rem;
    background: #db6066;
    font-size: 0.5rem;
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0.1rem;
}
.uploadContent{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}
form{
    height: 11.95rem;
    width: 8.92rem;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #eaeaea;
    border-radius: 0.15rem;
}
form .title{
    height: 1.3rem;
    background: #386998;
    position: relative;
    margin-top: -0.1rem;
    line-height: 1.3rem;
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
}
form .title img:first-child{
    height: 0.67rem;
    height: 0.67rem;
    position: absolute;
    top: 50%;
    margin-top: -0.335rem;
    left: 0;
    margin-left: 0.4rem;
    margin-right: 0.3rem;
}
form .title span{
    float: left;
    margin-left: 1.34rem;
    font-size: 0.5361rem;
}
form .title img:nth-child(3){
    position: absolute;
    height: 0.47rem;
    width: 0.47rem;
    top: 50%;
    margin-top: -0.235rem;
    right: 0.47rem;
}

form label{
    display: block;
    height: 1.2rem;
    line-height: 1.2rem;
}

form label span:first-child{
    margin-left: 0.47rem;
    font-size: 0.45rem;
}
form label .contain{
    font-size: 0.45rem;
    margin: 0 0.02rem;
}
form hr{
    width: 96%;
    margin: 0 auto;
    color: gray;
}
form label input{
    width: 5.43rem;
    height: 0.8rem;
    border: 0.03rem solid #686868;
    border-radius: 0.1rem;
    line-height: 0.8rem;
    padding: 0 0.06rem;
    font-size: 0.42rem;
    color: #368998;
}
form label select{
    font-size: 0.42rem;
    color: #368998;
    height: 0.8rem;
    border: 0.03rem solid #686868;
    border-radius: 0.1rem;
    background: url(../../../../Public/images/arrow2.png) no-repeat scroll right center transparent;
    background-size: 0.4rem 1.1rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    padding-left: 0.1rem;
    padding-right: 0.4rem;
}
form label select option{
    font-size: 0.42rem;
}
form .classTimes select{
    width: 2.42rem;
}
form .classAddress select{
        width: 1.84rem;
}
form .classAddress input{
        margin-left: 2.8rem;
}
form  .submit{
    height: 1.04rem;
    width: 8.66rem;
    line-height: 1.04rem;
    text-align: center;
    font-size: 0.48rem;
    border-radius: 0.1rem;
    color: white;
    background: #db6066;
    /* margin: 0.8rem auto 0; */
    display: inline-block;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    margin: auto;
}
 .uploadClass{
    color: #fff;
}
.selected-style{
    background: orange;
}


.tellBox{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}
.tellBoxs{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}
 .tellContent{
    border-radius: 0.1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8rem;
    width:65%;
    margin: auto;
    background: white;
}
.tellContent .closeBtn{
    float: right;
    height: 0.47rem;
    width: 0.47rem;
    margin-top: 0.28rem;
    margin-right: 0.3rem;
}
.tellContent h3{
    text-align: center;
    font-size: 0.5rem;
    color: white;
    background: #386998;
    height: 1rem;
    line-height: 1rem;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}
.tellContent div{
    text-align: center;
    padding: 0.3rem;
    font-size: 0.4rem;
}
.tellContent .code{
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}
.form-message p{
    font-size: 0.4rem;
    margin-left: 0.2rem;
    color: #386998;
    margin-top: 0.5rem;
}
.form-message input{
    border: 0.03rem solid #686868;
    height: 0.6rem;
    width: 4.9rem;
    padding: 0.02rem;
    color: #386998;
    font-size: 0.32rem;
    border-radius: 0.1rem;
}
　::-webkit-input-placeholder { /* WebKit browsers */
    　　color:#386998;
        font-size: 0.4rem;
　　}
　　:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    　　color:#386998;
        font-size: 0.4rem;
　　}
　　::-moz-placeholder { /* Mozilla Firefox 19+ */
    　　color:#386998;
        font-size: 0.4rem;
　　}
　　:-ms-input-placeholder { /* Internet Explorer 10+ */
　　  color:#386998;
        font-size: 0.4rem;
　　}
.form-message #code{
    height: 0.7rem;
    border-radius: 0.1rem;
    border: 1px solid #386998;
    color: white; 
    background: #386998;
    margin-top: 0.1rem;
    text-align: center;
    width: 2.7rem;
    font-size: 0.3rem;
    /*float: right;*/
    margin-top: 0.02rem;
    margin-right: 0.3rem;
}
.form-message .submit{
    font-size: 0.4rem;
    color: white;
    background: #db6066;
    margin: 0 auto;
    width: 3rem;
    height: 1rem;
    display: block;
    margin-top: 0.5rem;
    border-radius: 0.1rem;
}