.scroll{
    
	height: 100%;
	margin-top:3rem; 
	margin-left: .2rem;
}
dt span{

	font-weight:bold;
	font-size: 1.5rem;
}
.main dt{
	margin-top: 10px;
	margin-bottom:10px;
}
.main li{
	line-height: 2.5rem;
	width: 90%;
	/*text-align: center;*/
}
.scroll input{
	width: 50%;
	height: 1.5rem;
	font-size: 1rem;
}
.scroll select{
	height: 1.5rem;
	font-size: 1rem;
}
.footerbtn{
	width: 100%;
	text-align: center;
	display: block;
}
.submit {
	background-color: #ef3f56;
	padding: 6px 20px;
	font-size: 1rem;
	letter-spacing: 2px;
	text-decoration: none;
	border: 1px solid #c03143;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	cursor: pointer;
	text-align: center;
	font-weight:bold;
	
}

.submit:active {
	background-color: #B60006;
}
.main li{
	line-height: 2.5rem;
    width: 95%;
    padding-left: 1rem;
}
.main li span{
	margin-left: 1rem;
	color: #386998;
}
.main li input{
	margin-right: 1rem;
	border: 1.5px solid #8d8d8d;
	color: #8d8d8d;
	border-radius: 0.1rem;
	padding: 0.1rem 0.3rem;
}
#areaId1{
	margin-left: 0;
}
/*#areaId3 {
    margin-right: 1rem;
}*/
.main li select{
	width: 4rem;
	color: #8d8d8d;
	border-radius: 0.1rem;
}
.main li .select{
	float: right;
	margin-right: 1rem;
}
