.footer ul li a img{
	margin-top: 0.52rem;
}
.footer ul li a span{
	margin-left: 0.14rem;
}
body,html{
	background: #f1f1f1;
}
.middle{
	padding-top: 1.2rem;
	padding-bottom: 1.6rem;
}


.worksList{
	margin-top:0.14rem;
    overflow: hidden;
}
.worksList ul{
	/*overflow: hidden;
	margin-right: -0.25rem;
	margin-top: 0.14rem*/
	width:49%;
    float: left;
}
.workList ul:last-child{
	margin-left: 2%;
}
.voteRight{
	margin-left: 2%;
}
.worksList ul li{
	width: 5.5rem;
	background: white;
	float: left;
	/*margin-right: 0.25rem;*/
	margin-bottom: 0.2rem;
}
.worksList ul li .img{
	position: relative;
	margin: 0 0.2rem;
}
.worksList ul li .img >img{
	width: 5.11rem;
	margin: 0.18rem auto;
}
.worksList ul li .img >video{
	width: 5.1rem;
	margin: 0.18rem auto;
}
.worksList ul p{
	font-size: 0.42rem;
	line-height: 0.72rem;
	margin-left: 0.6rem;
}
.worksList ul p span{
	font-size: 0.42rem;
}
.worksList ul .name span{
	color: #386998;
}
.worksList ul .text{
	width: 5.14rem;
	margin: 0.2rem auto 0.6rem;
	overflow: hidden;
	border-top: 0.01rem solid #696969;
	padding-top: 0.4rem;
}
.worksList ul .text span{
	font-size: 0.4rem;
	float: left;
	margin-top: 0.03rem;
}
.worksList ul .text span:first-child{
	margin-top: 0.1rem;
    margin-left: 0.5rem;
}
.worksList ul .text span strong{
	color: #386998;
	font-size: 0.4rem;
}
.worksList ul .text .vote{
	color: white;
	font-size: 0.45rem;
	/*width: 2.54rem;*/
	padding: 0 0.1rem;
	text-align: center;
	height: 0.71rem;
	line-height: 0.71rem;
	float: right;
	display: inline-block;
	background: #db6066;
	border-radius: 0.1rem;
	-webkit-border-radius:0.1rem;
	margin-right: 0.1rem;
	font-weight: bold;
}

.play{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}
.play img{
	height: 2.03rem;
	width: 2.03rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}





.works{
    height: 1.35rem;
    line-height: 1.4rem;
    width: 100%;
    background: #386998;
    overflow: hidden;
    margin-top: -0.1rem;
}
.works span{
    color: white;
    font-size: 0.55rem;
    margin-left: 0.33rem;
    float: left;
}
.works span:first-child{
    /*margin-left: 2.6rem;*/
}
.works .num{
    width:1.5rem;
    text-align: center; 
    background: white;
    color:#386998;
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    border-radius: 0.1rem;
    margin-top: 0.3rem;
}
.works a{
	float: right;
    margin-right: 0.3rem;
    color: white;
    font-size: 0.55rem;
    /* border: 0.01rem; */
    background: red;
    height: 0.7rem;
    line-height: 0.7rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
    margin-top: 0.25rem;
}


.tellBox{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000000000;
}
 .tellContent{
    border-radius: 0.1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4.5rem;
    width:50%;
    margin: auto;
    background: white;
}
.tellContent >img{
    float: right;
    height: 0.47rem;
    width: 0.47rem;
    margin-top: 0.28rem;
    margin-right: 0.3rem;
}
.tellContent h3{
    text-align: center;
    font-size: 0.5rem;
    color: white;
    background: #386998;
    height: 1rem;
    line-height: 1rem;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}
.tellContent div{
	text-align: center;
    padding: 0.3rem;
    font-size: 0.4rem;
}
.tellContent a{
	background: #db6066;
    color: white;
    /* padding: 0.2rem 1rem; */
    border-radius: 0.1rem;
    width: 4.5rem;
    display: block;
    text-align: center;
    height: 0.8rem;
    line-height: 0.8rem;
    margin: 0 auto;
    font-size: 0.45rem;
}