<include file="Common:header"/>
<link rel="stylesheet" href="__PUBLIC__/css/home/groupdetails.css">
<link href="__PUBLIC__/Home/css/buy.css" rel="stylesheet" type="text/css">
<div id="detail_activity"  class="kap-page kap-page-current">
<div class="kap-top ty-menu-top">
    <div id="tools_msg" class="ty-tools ty-tools-inner ty-tools-current">
        <span class="title">{$title}<span class="num"></span></span>
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn left btn-user" title="返回" data-icon="ɒ"></a>
         <a href="{:U('Index/index',array('current'=>'1'))}" class="btn right btn-user" title="返回首页" data-icon="Ņ"></a>
    </div>
</div>
    <div class="ty-page" >
        <div class="ty-detail-cover Group">
            <span class="thumb"
                  style="background-image:url(__PUBLIC__/images/1494476489.jpg); background-size:cover"></span>
                <span class="desc-top">
                    <span data-icon="Ć" class="loc">燕子岗</span>
                </span>
            <div class="desc row">
                <!-- <span class="status">组团价: 7850元</span> -->
                <span data-icon="&#xe9a9;" class="zhang">50张</span>
                <span class="bargain" data-icon="">免费参加</span>
                <div class="tags">
                    <span class="tag purple">自营</span>
                    <span class="tag orange">厦门</span>
                    <span class="tag yellow">夏令营</span>
                    <span class="tag blue">团购</span>
                    <!-- <label class="size red">原价：6540元</label> -->
                </div>
            </div>
            <div class="border item company" >
                <i class="icon2"></i>
                <label>组织者</label>
                <span class="tip" data-icon-after="Ĩ"></span>
                <a class="lj"><b>了解更多</b></a>
            </div>
            <div class="mechanism">
                <img src="__PUBLIC__/images/20170531154630.png">
                <span>邦宝积木建构中心</span>
                <div class="score" id="descs" style="line-height: 1.3rem;">
                    <span>机构评级</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                    <span>环境评级</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                    <span>教学质量</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                </div>
            </div>
            <div class="border item company time" data-icon="Ĕ">
                
                <label>活动时间</label>
                <span class="tip" data-icon-after="Ĩ"></span>
                <a class="lj"><b></b></a>
            </div>
            <div class="itemtime">
            <span>2017年7月31日</span>
            <label data-icon="ə">火热报名中</label>
            </div>
            <!--    <span class="share-invite">邀请好友</span> -->
       
           <div class="border item company sign" data-icon="ņ">
              
                <label>已报名</label><span>(限50人)</span>
                <span class="tip" data-icon-after="Ĩ">共25/50人</span>
                <a class="lj"><b></b></a>
            </div>

            <div class="numbers">
            <div class="headernav headernav2 change-headernav clr">
            <ul class="list-tags clr">
                <li>
                    <a href="/index.php/Parenting/index.html">
                    <div class="ico"><img src="__PUBLIC__/images/wsdfsdf.png" alt="">
                        </div>
                        <div class="fz16">
                            <span>小于</span>
                        </div>
                        </a>
                    </li>
                    <li>
                    <a href="/index.php/Article/index.html">                        <div class="ico"><img src="__PUBLIC__/images/wsdfsdf.png" alt="">
                        </div>
                        <div class="fz16">
                            <span>小是</span>
                        </div>
                        </a>
                    </li>
                    <li>
                     <a href=""><div class="ico"><img src="__PUBLIC__/images/wsdfsdf.png" alt="">
                        </div>
                        <div class="fz16">
                            <span>小事</span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="signin()">
                          <div class="ico"><img src="__PUBLIC__/images/wsdfsdf.png" alt="">
                        </div>
                        <div class="fz16">
                            <span>阿斯顿</span>
                        </div>
                        </a>
                    </li>   
                        <li>
                        <a href="javascript:void(0)" onclick="signin()">
                          <div class="ico"><img src="__PUBLIC__/images/wsdfsdf.png" alt="">
                        </div>
                        <div class="fz16">
                            <span>阿斯顿</span>
                        </div>
                        </a>
                    </li>  
                        <li>
                        <a href="javascript:void(0)" onclick="signin()">
                          <div class="ico"><img src="__PUBLIC__/images/wsdfsdf.png" alt="">
                        </div>
                        <div class="fz16">
                            <span>阿斯顿</span>
                        </div>
                        </a>
                    </li>  

                    </ul>
              </div>
            </div>
            <div class="clear"></div>
            

            
        </div>

        <div class="act-tag fixed" >
            <a href="javascript:;" id="desc" class="tag detail on">详情</a>
            <a href="javascript:;" id="costc" class="tag price">费用说明</a>
            <a href="javascript:;" id="comment" class="tag qa">咨询&amp;评价</a>
        </div>
        <div class="ty-detail-content" >
            <div class="article-title" id="kcxq">
                <span class="title">课程详情</span><img src="__PUBLIC__/images/xianqin.png" height="72" class="kcxq">
            </div>
            <div class="article top" >
                <div class="text">{$group['desc']}
                    <div  id="costs" style="height: 95px;"></div>
                </div>
            </div>
            <div class="article-title"><span data-icon="Ĺ" class="title">费用说明</span><img src="__PUBLIC__/images/xianqin.png"height="72" class="kcxq"></div>
            <div class="article">
                <div class="text">{$group['cost']}</div>
            </div>

            <div class="fav-list">
                <volist id="val" name="headImg" offset="0" length="12">
                    <span class="avatar">
                       <img src="{$val['headImg']}">
                    </span>
                </volist>
                <span class="sum">本次活动共有{$userCount}人已下单</span>
            </div>
            <a data-icon="Ė" class="btn-continue" id="comments" href="{:U('Groups/checkOrderInfo',array('product_id' => $group['id']))}">赶紧报名</a>
            <div class="article-title article-title2"><span data-icon="ŕ" class="title">咨询&amp;评价</span><img src="__PUBLIC__/images/xianqin.png" height="72" class="kcxq"></div>
            <div class="article">
                <button type="button" class="btn-comment" data-icon="Ę">说点什么..</button>
                <ul class="list-comment">
                    <volist id="val" name="commentList" offset="0" length="15" key="k">
                        <li class="item">
                            <span class="avatar">
                            <img src="{$val['headImg']}"></span>
                            <span class="msg">
                                <span class="msg-quote">
                               <span class="author"><p></p>{$val['content']}</span>
                                </span>
                                <empty name="val['kf_content']">

                                    <else />
                                    <span class="author"><p>客服回复:</p>{$val['kf_content']}</span>
                                </empty>
                                <notempty name="val['child']">
                                    <volist name="val['child']" id="v">
                                        <span class="author"><p></p>{$v['content']}</span>
                                        <empty name="val['kf_content']">

                                            <else />
                                            <span class="author"><p>客服回复:</p>{$val['kf_content']}</span>
                                        </empty>
                                    </volist>
                                </notempty>
                                </span>
                        </li>
                    </volist>
                    <!--<li data-icon="Ĩ" class="item-more">-->
                    <!--更多评论-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- 20160218 upadte -->
            <!-- 20160218 upadte end-->
            <span class="ty-reload" onclick="window.location.reload();" data-icon="ɇ">刷新本页面</span>
        </div>

    </div>

</div>
<div class="kap-bottom ty-menu-bottom">
    <div id="tools_detail_activity" class="ty-tools ty-tools-order ty-tools-current">
        <div class="ty-tools-detail-btns">
            <a href="tel:13149069132" data-ty-target="#page_talent_msg" data-ty-tid="0" data-ty-pid="0"
                class="btn btn-detail consult">
                <i class="icon3"></i><br>
                咨询</a>
            <a href="javascript:void(0);"  class="btn-detail phone">
                <i class="icon4"></i><br>
                看机构</a>
            <a href="javascript:void(0);" data-ty-target="#page_talent" data-ty-talentid=""
               class="btn-detail shop">
                <i class="icon5"></i><br>
                推荐</a>
            <a href="{:U('Groups/checkOrderInfo',array('product_id' => $group['id']))}" class="btn-order">立即报名</a>
            <!--<a href="{:U('Product/checkOrderInfo',array('pro_id' => $product['id']))}" class="btn-order">我要下单</a>-->
            <!--<span data-icon="&#x111;" class="btn-detail-navi"></span>-->
        </div>
    </div>
</div>

<div data-kap="kap-bottomwin" class="kap-bottomwin" style="display:none;">
    <div class="kap-hitarea"></div>
    <div class="kap-win" style="transform: translateY(0px); transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.25, 1);">
        <div class="kap-content">
            <div class="ty-popbottom">
                <div class="title">
                    发表评论
                    <span class="ask-kf">
                        <span><span class="btn-close" data-icon="ă"></span></span>
                    </span>
                </div>
                <div class="content" style="height: 5.625rem;">
                    <div class="ty-comment-pop">
                        <input type="hidden" name="product_id" value="{$group['id']}">
                        <textarea class="input-textarea btn-comment" id="product_contact_memo" placeholder="说点什么.."></textarea>
                    </div>
                </div>
                <div class="btn-submit" id="addProduct">确定</div>
            </div>
        </div>
    </div>
</div>
<div data-kap="_kap_mask" class="kap-mask kap-mask-on" style="display:none;"></div>

<script>
    $(".act-tag span").on('touchstart mousedown', function (e) {
        e.preventDefault()
        $(".act-tag span").removeClass('on')
        $(this).addClass('on')
        $(".ty-detail-content .tabcon").eq($(this).index()).addClass("curr").siblings().removeClass("curr");
    })
    $(".act-tag span").click(function (e) {
        e.preventDefault();

    })

    $(function () {
        $('.act-tag span').on('touchstart mousedown', function () {
            $('html,body').animate({scrollTop: $('.act-tag').offset().top - 60}, 500);
        });

    })


    $(window).scroll(function () {
        var bar_h = $(".act-tag").height();
        var _top = $(window).scrollTop();
        var tag_top = $("#detail_activity .ty-detail-cover").offset().top + $("#detail_activity .ty-detail-cover").height();
        if (tag_top - _top < bar_h) {
            $(".act-tag").addClass("fixed");
            if ($(".kap-top").hasClass("ty-menu-top-hide")) {
                $(".act-tag").addClass("top");
            } else {
                $(".act-tag").removeClass("top");
            }
        } else {
            $(".act-tag").removeClass("fixed");
        }

    });


    $('#addProduct').click(function () {
        if($('#product_contact_memo').val()==''){
            alert('请填写订单评价');
            return;
        }
        if($('#product_contact_memo').val().length<=6){
            alert('请填写不少于6个字');
            return;
        }

        var product_id = $("input[name='product_id']").val();
        var url = "{:U(Groups/getGroup)}";
        var data = {
            product_id : product_id,
            content:$('#product_contact_memo').val()
        };
        $.post(url, data, function (result) {
            if (result.status == 0) {
                return alert(result.message);
            } else {
                alert(result.message);
                setTimeout(location.replace(location.href),4000);
            }
        }, 'json');
    })
    //留言弹框
    $(function(){
        $('.btn-comment').click(function () {
            $('.kap-bottomwin').css('display','block');
            $('.kap-mask-on').css('display','block');
        });
        $('.btn-close').click(function () {
            $('.kap-bottomwin').css('display','none');
            $('.kap-mask-on').css('display','none');
        });
    });
    //页内跳转
    $(document).ready(function() {
        $("#desc").click(function() {
            $('html, body').animate({
                scrollTop: $("#descs").offset().top
            }, 1000);
        });
        $("#costc").click(function() {
            $('html, body').animate({
                scrollTop: $("#costs").offset().top
            }, 1000);
        });
        $("#comment").click(function() {
            $('html, body').animate({
                scrollTop: $("#comments").offset().top
            }, 500);
        });
    });
</script>

<include file="Common:footer"/>
</body>
</html>