<include file="Common:header"/>
<link rel="stylesheet" href="/Public/Home/css/style_v3.css">
<link rel="stylesheet" href="__PUBLIC__/css/home/shop.css">
<div id="page_user" title="{$title}" class="kap-page kap-page-current">
<div class="kap-top ty-menu-top">
        <div id="tools_msg" class="ty-tools ty-tools-inner ty-tools-current">
            <span class="title">{$title}<span class="num"></span></span>
            <a href="history.go(-1);" class="btn left btn-user" title="返回" data-icon="ɒ"></a>
            <a href="{:U('Index/index',array('current'=>'1'))}" class="btn right btn-user" title="返回首页" data-icon="Ņ"></a>
        </div>
    </div>
    <div class="ty-page">
    <div class="shop-list">
       <div  class="search-head">
        <div class="ty-tools-search">
            <div class="input-jump" onclick="window.location.href='/index.php/Index/search'">更多机构...
             
            </div>
            <i data-icon="Đ"></i>
        </div>
         <div class="ty-tools-cityswitch">
            <select id="sel_city_switch" data-kap-skin="sel-city-switch" data-icon-blue="Ė"
                    style="opacity: 0; position: absolute; border: medium none; left: 0px; top: 0px; width: 100%; height: 100%;">
                <option value="1">广州</option>
                <option value="2">深圳</option>
                <option value="0" selected="">全部</option>
            </select>
        </div>
       </div>

       <div class="shop-class">
       <div class="top-nav-v3">
             <h1 class="title-v3 page-eight-wrapper">
					<div class="wrapper-v3" id="scroll-x">
						<div class="lists-v3 clr" id="scroll-a" style="width: 736px;">
						<a href="">推荐</a>				
						<a href="">钢琴</a>					
						<a href="">积木</a>					
						<a href="">心理</a>					
						<a href="">书法</a>					
						<a href="">话剧</a>					
						<a href="">亲子</a>					
											
						</div>
					</div>
				</h1>
				<div class="right-arrow"> </div>
       </div>
       </div>

       <div class="institu-list">
         <ul>
             <li>
           <div class="shoplogo">
          <img src="__PUBLIC__/images/eqweq.png">
           <span>广州优培教育科技有限责任公司</span>
        </div>
       <div class="details"><span>了解TA</span><span>关注</span></div>
         <label>关注可获取TA的教学动态噢！</label>
           <div class="score">
                    <span>机构评级</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                    <span>环境评级</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                    <span>教学质量</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                </div>
             </li>

              <li>
           <div class="shoplogo">
          <img src="__PUBLIC__/images/eqweq.png">
           <span>广州优培教育科技有限责任公司</span>
        </div>
       <div class="details"><span>了解TA</span><span>关注</span></div>
         <label>关注可获取TA的教学动态噢！</label>
           <div class="score">
                    <span>机构评级</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                    <span>环境评级</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                    <span>教学质量</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                </div>
             </li>


              <li>
           <div class="shoplogo">
          <img src="__PUBLIC__/images/eqweq.png">
           <span>广州优培教育科技有限责任公司</span>
        </div>
       <div class="details"><span>了解TA</span><span>关注</span></div>
         <label>关注可获取TA的教学动态噢！</label>
           <div class="score">
                    <span>机构评级</span>
                 <span class="star">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                    <span>环境评级</span>
                 <span class="star">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                    <span>教学质量</span>
                 <span class="star">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                </div>
             </li>

             <li class="empty">加载更多︾</li>
         </ul>
       </div>
       </div>
    </div>
</div>
<include file="Common:footer"/>
</body>
</html>