<include file="Common:header"/>
<link rel="stylesheet" href="__PUBLIC__/Home/css/idangerous.swiper.css">
<link rel="stylesheet" href="/Public/Home/css/style_v3.css">
<link rel="stylesheet" href="/Public/Home/css/new.css">
<style type="text/css">

</style>
<div id="page_user" title="{$title}" class="kap-page kap-page-current">
<div class="kap-top ty-menu-top">
        <div id="tools_msg" class="ty-tools ty-tools-inner ty-tools-current">
            <span class="title">{$title}<span class="num"></span></span>
            <a href="history.go(-1);" class="btn left btn-user" title="返回" data-icon="ɒ"></a>
            <a href="{:U('Index/index',array('current'=>'1'))}" class="btn right btn-user" title="返回首页" data-icon="Ņ"></a>
        </div>
    </div>
    <div class="ty-page" data-ty-current="0" data-ty-total="0">
    <div class="shop-info">
		    <div class="shoplogo">
		      <img src="__PUBLIC__/images/eqweq.png">
		    </div>
		    <span>广州优培教育科技有限责任公司</span>
           <div class="score">
                    <span>机构评级</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                    <span>环境评级</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                    <span>教学质量</span>
                 <span class="star" data-ty-talent-star="5">
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    <i class="on iconfont">Ŧ</i>
                    </span>
                </div>
                <div class="details"><span>了解TA</span><span>关注</span></div>
               <label>关注可获取TA的教学动态噢！</label>

               <div class="choice">
                   <div class="choice-classify">
           <div class="swiper-container swiper-nested-2">
               <div class="swiper-wrapper">

             <div class="swiper-slide"> 
                        <img src="__PUBLIC__/images/131231231.png">
          </div>
          <div class="swiper-slide"> 
                        <img src="__PUBLIC__/images/fffffff.png">
                        
                 </div>
</div>
</div>
 <div class="pagination pagination-nested-2"></div>
                   </div>
               </div>
    </div>
 
		<div class="act-tag">
		<a href="#desc" class="tag detail on" onclick="tabs(0)">热门课程</a>
		<a href="#cost" class="tag price" onclick="tabs(1)">文章·福利</a>
		<a href="#comment" class="tag qa" onclick="tabs(2)">活动安排</a>
		</div>

	<div class="tabcon" style="display: block;">
       <ul class="list-card">
        <li class="item">
        <a href="/index.php/Product/productDetails.html?pro_id=36">
        <span class="thumb" style=""><img src="/Upload/adspic/2017-07/5965ee81ebb85.jpg">
        </span>
        <div class="desc">
        <span data-icon="Ć" class="loc">广州市海珠区燕岗街</span>
        <div class="triangle">
        <p class="text">积木</p>
        </div><h3 class="title">邦宝积木课/16课时</h3>
        <span class="price">2979.00</span>
        <span class="talent">
        <i class="avatar">
        <img src="/Upload/adspic/2017-07/595eeb47e31e8.png" alt=""></i></span>
        <div class="tags"><span class="tag red"></span><span class="tag"></span>
        <span class="tag"></span></div></div></a></li>

        <li class="item"><a href="/index.php/Product/productDetails.html?pro_id=37"><span class="thumb" style=""><img src="/Upload/adspic/2017-07/5965efc53b488.jpg"></span><div class="desc"><span data-icon="Ć" class="loc">广州市海珠区燕岗街</span><div class="triangle"><p class="text">积木</p></div><h3 class="title">邦宝积木课/32课时</h3><span class="price">4879.00</span><span class="talent"><i class="avatar"><img src="/Upload/adspic/2017-07/595eeb47e31e8.png" alt=""></i></span><div class="tags"><span class="tag red"></span><span class="tag"></span><span class="tag"></span></div></div></a></li>

        <li class="item"><a href="/index.php/Product/productDetails.html?pro_id=38"><span class="thumb" style=""><img src="/Upload/adspic/2017-07/5965ef218384c.jpg"></span><div class="desc"><span data-icon="Ć" class="loc">广州市海珠区燕岗街</span><div class="triangle"><p class="text">积木</p></div><h3 class="title">邦宝积木课/48课时</h3><span class="price">6350.00</span><span class="talent"><i class="avatar"><img src="/Upload/adspic/2017-07/595eeb47e31e8.png" alt=""></i></span><div class="tags"><span class="tag red"></span><span class="tag"></span><span class="tag"></span></div></div></a>
        </li></ul>

         <div class="logo-qrcode">
		   <span><img src="__PUBLIC__/images/zzzzzzzzzz.png"></span>
		     <span><img src="__PUBLIC__/images/618348288222690487.jpg">
		     <br/><span>扫一扫关注优培圈</span></span>
		 </div>
</div>

		<div class="tabcon" style="display: none;">
          <div class="weffimg">
          <div class="swiper-container swiper-nested-1">
             <div class="swiper-wrapper">

             <div class="swiper-slide"> 
                <a href="javascript:;"> <img src="__PUBLIC__/images/fffffff.png"></a>
                </div>

                 <div class="swiper-slide"> 
                <a href="javascript:;"> <img src="__PUBLIC__/images/131231231.png"></a>
                </div>
               
                <div class="swiper-slide"> 
                <a href="javascript:;"> <img src="__PUBLIC__/images/fffffff.png"></a>
                </div>

                 <div class="swiper-slide"> 
                <a href="javascript:;"> <img src="__PUBLIC__/images/131231231.png"></a>
                </div>

                </div>
                </div>
                <div class="pagination pagination-nested-1"></div>
           </div>
           <div class="item-more shareline"> —— 分享领红包 —— </div>

           <div class="timeline-product shoparticle">
                    <ul class="list-card-timeline">
                        <li class="item" data-ty-target="#detail_activity" onclick="getArticle(125)">
                        <span class="thumb" style="background-image:url(/Upload/adspic/2017-07/59689a05e017b.jpg); background-size:cover"></span>
                        <span class="desc">
                            <h3 class="title">接连几个孩子双脚肿胀溃烂惨不忍睹，医生都坐不住了！</h3>
                            <span class="time"><span class="lef">2017-07-14</span><span class="rig">评论（0） <i></i> 收藏（0）</span></span>
                            <span class="status dt">育儿</span>
                        </span>
                                <span class="icon-sale"></span>
                            </li><li class="item" data-ty-target="#detail_activity" onclick="getArticle(124)">
                                <span class="thumb" style="background-image:url(/Upload/adspic/2017-07/5968985f6bb80.jpg); background-size:cover"></span>
                        <span class="desc">
                            <h3 class="title">暑假送礼第三波</h3>
                            <span class="time"><span class="lef">2017-07-11</span><span class="rig">评论（17） <i></i> 收藏（0）</span></span>
                            <span class="status dt">福利</span>
                        </span>
                                <span class="icon-sale"></span>
                            </li>                  
                            </ul>
                    <ul class="list-card-timeline list">
                    </ul>
                </div>

                 <div class="item-more shareline"> —— 更多精彩推荐 —— </div>
                    <div class="more-article">
                      <ul>
            						<li><img src="__PUBLIC__/images/20170531154630.png"> <span>邦宝积木的文章01</span><label data-icon="Ĩ"> </label></li>
            						<li><img src="__PUBLIC__/images/20170531154630.png"> <span>邦宝积木的文章02</span><label data-icon="Ĩ"></label></li>
            						<li><img src="__PUBLIC__/images/20170531154630.png"> <span>邦宝积木的文章03</span><label data-icon="Ĩ"></label></li>
                       </ul>
                    </div>
                <div>
                </div>
		</div>
		 


		<div class="tabcon line-height" style="display: none;">
        <div class="weffimg">
       

             <div class="item-more shareline"> —— 赶快报名吧 —— </div>

              
              <ul class="list-card">
                 <li onclick="" style="float: none; display: block; position: relative; top: 0px; left: 0px;">
                 <a href="{:U('Shop/groupdetails')}">
                                    <span class="thumb" style="background-image:url(__PUBLIC__/images/fffffff.png); background-size:cover">
                                    </span>
                                   <span class="status" ><p data-icon-fiery="ə">进行中</p></span>
                                    <div class="desc row">
                                        <label class="size red" style="color:#ffffff;margin-right:3vh;">活动时间：2017年6月22日-8月31日</label>
                                    </div>
                                    </a>
                                </li>

                                  <li onclick="" style="float: none; display: block; position: relative; top: 0px; left: 0px; ">
                                    <span class="thumb" style="background-image:url(__PUBLIC__/images/131231231.png); background-size:cover">
                                    </span>
                                   <span class="status" ><p data-icon-fiery="ə">进行中</p></span>
                                    <div class="desc row">
                                        <label class="size red" style="color:#ffffff;margin-right:3vh;">活动时间：2017年6月22日-8月31日</label>
                                    </div>

                                </li>
              </ul>
               <div class="item-more shareline"> —— 更多精彩活动 —— </div>
                    <div class="more-article">
                      <ul>
                        <li><img src="__PUBLIC__/images/eqweq.png"> <span>活动01</span>
                        <label data-icon-go="Ĩ">去参加</label></li>
                        <li><img src="__PUBLIC__/images/eqweq.png"> <span>活动02</span>
                        <label data-icon-go="Ĩ">去参加</label></li>
                        <li><img src="__PUBLIC__/images/eqweq.png"> <span>活动03</span>
                        <label data-icon-go="Ĩ">去参加</label></li>
                       </ul>
                    </div>

		</div>


		
  </div>

 


 <!-- 底部菜单 -->
    <div class="kap-bottom ty-menu-bottom">
        <div id="pc_login" class="ty-login-area">
            <span class="head-icon"><img src="http://wx.qlogo.cn/mmopen/086rSWpicGsicbJsticnNeKK7picIzosVBwa9PafHYAr04B77N5TODmIdHibHlziaZWUSqK6zKbOzMzm4sAFAGMiaiaUaWCHPDibPNwSK/132" alt="" height="200" width="200"></span>
            <span class="wx-name">♚你有看到我的小熊吗</span>
            <span class="wx-loginout btn" style="" data-icon="Ń">退出登录</span>
            <span class="wx-login btn" style="display: none;" data-icon="ţ">微信登录</span>
        </div>

        <div id="tools_idx" class="ty-tools ty-tools-idx ty-tools-current">
            <!-- <a href="{:U('Index/index',array('current'=>'1'))}" style="background: url('__PUBLIC__/images/1495008448(1).jpg') no-repeat 0.7rem 1.2rem; background-size:20% 30%" <if condition='$current eq 1'>class="current"</if> data-icon="">首页</a>
             <i class="border"></i>
            <a href="{:U('Discovery/index',array('current'=>'2'))}" style="background: url('__PUBLIC__/images/1495008486(1).jpg') no-repeat 0.7rem 1.2rem; background-size:20% 30%" <if condition='$current eq 2'>class="current"</if> data-icon="" onclick="_hmt.push(['_trackEvent', 'footbar', 'click', '发现'])">发现</a>
             <i class="border"></i>
            <a href="javascript:void(0);"  onclick="hint()" style="background: url('__PUBLIC__/images/1495008503(1).jpg') no-repeat 0.7rem 1.2rem; background-size:20% 30%" <if condition='$current eq 3'>class="current"</if>  data-icon="" onclick="_hmt.push(['_trackEvent', 'footbar', 'click', '消息'])">社群<i id="new_msg_alert"></i></a>
             <i class="border"></i>
             <if condition='$current eq 4'>
            <a href="javascript:void(0)" class="current" data-icon="ń" onclick="_hmt.push(['_trackEvent', 'footbar', 'click', '我的'])">推荐</a>
            <else/>
              <a href="{:U('Personal/index',array('current'=>'4'))}" style="background: url('__PUBLIC__/images/1495008528(1).jpg') no-repeat 0.7rem 1.2rem; background-size:15% 30%" onclick="_hmt.push(['_trackEvent', 'footbar', 'click', '我的'])">个人中心</a>
            </if> -->
            <a href="" <if condition='$current eq 1'>class="current"</if> data-icon="Ņ">首页</a>
            <a href="" <if condition='$current eq 1'>class="current"</if> data-icon="Đ">全景</a>
            <a href="" <if condition='$current eq 1'>class="current"</if> data-icon="Ĵ">社群</a>
            <a href="" <if condition='$current eq 1'>class="current"</if> data-icon="Ę">消息</a>
            <a href="" class="current" data-icon="Ē">客服</a>
        </div>
        </div>
</div>
<include file="Common:footer"/>
<script src="__PUBLIC__/Home/js/idangerous.swiper.min.js"></script>
<script type="text/javascript">
function tabs(tabNum){
	//设置点击后的切换样式
	$(".act-tag a").removeClass("on");
	$(".act-tag a").eq(tabNum).addClass("on");
	//根据参数决定显示内容
	$(".tabcon").hide();
	$(".tabcon").eq(tabNum).show();  

}


 var swiperParent = new Swiper('.swiper-parent',{
    pagination: '.pagination-parent',
    loop:true,
    grabCursor: true,
    paginationClickable: true,
    autoplay: 500,
    slidesPerView: 1,
    autoplayDisableOnInteraction:false,
  })
  var swiperNested1 = new Swiper('.swiper-nested-1',{
    pagination: '.pagination-nested-1',
    loop:true,
    grabCursor: true,
    paginationClickable: true,
    autoplay: 500,
    slidesPerView: 1,
     autoplayDisableOnInteraction:false,
  })
  var swiperNested2 = new Swiper('.swiper-nested-2',{
    pagination: '.pagination-nested-2',
    loop:true,
    grabCursor: true,
    paginationClickable: true,
    autoplay: 500,
    autoplayDisableOnInteraction:false,
    followFinger:false;
  })  


  
</script>
</body>
</html>