@charset "utf-8";

/*头部 start*/
.header{
	height: 0.8rem;
	line-height: 0.82rem;
	position: fixed;
	width: 100%;
	background: white;
	overflow: hidden;
	z-index: 100;
	clear: both;
}
.header a{
	color: #065b9c;
	left: 0.27rem;
	font-size: 0.4rem;
	position: absolute;
	font-family: "宋体";
	font-weight: bold;
}
.header h3{
	text-align: center;
	font-size: 0.52rem;
	color: #065b9c;
	margin-left: 0.3rem;
}
/*头部 end*/

/*中部 start*/
.middle{
		padding-top: 0.85rem;
}
/*导航栏 start*/
.nav{
	border-top: 0.08rem solid #efefef;
	border-bottom: 0.04rem solid #bdbdbd;
	position: fixed;
	top: 0.8rem;
	background: white;
	z-index: 100;
}
.nav ul{
	display: flex;
	justify-content: space-around;
}
.nav ul li{
	height: 0.72rem;
	line-height: 0.72rem;
	width: 3.78rem;
	text-align: center;
}
.nav a{
	font-size: 0.4804rem;
	display: block;
	color: #8a8a8a;
}
.nav ul li.on{
	color: #477690;
	border-bottom: 0.07rem solid #306da4;
}
/*导航栏 end*/
.content{
	clear: both;
	margin-bottom: 1.7rem;
	overflow: hidden;
	padding-top: 0.85rem;
}
/*专家讲学 start*/
.expert{
	background: #f0f1f1;
	overflow: hidden;
	display: block;
}
.expert ul li>a img{
	width: 3.1rem;
	height: 2.1rem;
	float: left;
}
.expert ul li{
	padding-top: 0.2rem;
	background: white;
	margin-bottom: 0.15rem;
	width: 100%;
	overflow: hidden;
}
.expert ul{
	margin-bottom: 7.55rem;
}
.expert .text{
	float: left;
	width: 8rem;
	position: relative;
	height: 2.3rem;
}
.expert .text h4{
	font-size: 0.55rem;
	width: 6.06rem;
	color: #386998;
	margin-left: 0.3rem;
}
.expert .text span{
	position: absolute;
	bottom: 0.3rem;
	color: #b5b5b5;
}
.expert .text span:nth-child(2){
	font-size: 0.3rem;
	margin-left: 0.25rem;
	margin-top: 0.1rem;
	float: left;
}
.expert .text span:nth-child(3){
	font-size: 0.3rem;
	margin-left: 3rem;
	margin-top: 0.1rem;
	float: left;
}
.expert strong{
	color: #db6066;
	position: absolute;
	right: 0.1rem;
	font-size: 0.6rem;
	bottom: 0.1rem;
}
.expert strong b{
	font-size: 0.4rem;
}
/*专家讲学 end*/

/*交流群 start*/
.communicate{
	display: none;
}
.type{
	height: 0.8rem;
	width: 100%;
	line-height: 0.82rem;
}
.type ul{
	white-space: nowrap;
	height: 0.8rem;
	overflow-y: hidden;
/*	displ;ay: flex;
	justify-content: space-around;*/
	overflow-x:scroll ;
	padding-right: 1.2rem;
}
.type ul::-webkit-scrollbar {
    display: none;
}
.type{
	border-bottom: 0.08rem solid #EFEFEF;
	position: relative;
}
.type >div{
	position: absolute;
	right: 0;
	top: 0.05rem;
	height: 0.6rem;
	line-height: 0.7rem;
	width: 0.8rem;
	font-size: 0.45rem;
	background: white;
}
.type ul li:first-child{
	margin-left: 0.65rem;
}
.type ul li{
	margin:0 0.38rem;
	display: inline-block;
}

.type ul li.on a{
	color: #aa5a67;
}
.type a{
	font-size: 0.45rem;
	display: block;
	color: #505050;
}
.communicate >ul{
	overflow: hidden;
}
.communicate >ul li{
	float: left;
	position: relative;
	margin-left: 0.12rem;
	margin-bottom: 0.35rem;
}
.communicate >ul li:nth-child(5){
	margin-bottom: 0.2rem;
}
.communicate >ul li:last-child{
	margin-bottom: 0.2rem;
}
.communicate >ul li a img{
	width: 5.4rem;
	height: 4.17rem;
	border: 0.03rem solid #c7c7c7;
}
.communicate .join{
	bottom: 0;
	position: absolute;
	height: 0.8rem;
	background: rgba(0,0,0,0.5);
	width: 100%;
	line-height: 0.78rem;
}
.join span{
	color: white;
	font-size: 0.34rem;
	margin-left: 0.22rem;
}
.join a{
	width: 1.7rem;
	height: 0.56rem;
	color:white;
	text-align: center;
	line-height: 0.52rem;
	background: #ffc62d;
	font-size: 0.34rem;
	display: block;
	float: right;
	border-radius: 0.06rem;
	margin-top: 0.12rem;
	margin-right: 0.28rem;
}
/*交流群 end*/


/*我的群 start*/
.mine{
	display: none;
	background: #f0f1f1;
	padding-bottom: 3.68rem;
	overflow: hidden;
}
.mine>ul{
	padding-bottom: 0.6rem;
	overflow: hidden;
	background: white;
}
.mine ul li{
	float: left;
	position: relative;
	margin-left: 0.12rem;
	margin-bottom: 0.35rem;
}
.mine  ul li a img{
	width: 5.4rem;
	height: 4.17rem;
	border: 0.03rem solid #c7c7c7;
}
.mine ul li .join{
	bottom: 0;
	position: absolute;
	height: 0.8rem;
	background: rgba(0,0,0,0.5);
	width: 100%;
	line-height: 0.78rem;
}
.mine >ul li .join a{
	background: #db6066;
}
.mine .more h3{
	height: 1.23rem;
	line-height: 1.23rem;
	text-align: center;
	font-size: 0.48rem;
	color: #386998;
	background: white;
	margin-top: 0.2rem;
}
/*中部 end*/
/*底部 start*/
.footer{
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.icon{
	height: 1.5rem;
	background: #386998;
	height: 1.5rem;
	z-index: 100;
}
.footer ul{
	display: flex;
	justify-content: space-around;
}
.footer ul li{
	height: 1.5rem;
	line-height: 1.6rem;
	position: relative;
}
.footer ul li>img{
	display: none;
}
.footer ul li >img{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 0.42rem;
	height: 0.21rem;
	display: block;
}
.footer ul li a span{
	display: inline-block;
	font-size: 0.4rem;
	color: white;
}
.footer ul li a img{
	display: inline-block;
	height: 0.5rem;
	float: left;
	margin-top: 0.5rem;
	margin-right: 0.05rem;
}
.footer div{
	height: 0.2rem;
	background: #f0f1f1;
}