<!DOCTYPE html>
<!--headTrap<body></body><head></head><html></html>-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>优培圈</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/com.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/pageloader.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/voteList.css"/>
    <style>
        .img img{
            width: 100%;
            height: 4.8rem;
        }
    </style>
    <script type="text/javascript">
        if(/msie/i.test(navigator.userAgent)){window.location.href="http://www.youpei-exc.com/"}
    </script>

</head>
<body class="kap-loading ty-view-all">
<include file="Common:common"/>
<header class="header">
    <a href="javascript:history.back()" class="back">
        <img src="../../../../Public/images/back.png" alt="">
    </a>
    <h3>确认订单</h3>
    <a href="../Index/index.html" class="home" data-icon="Ņ"></a>
</header>
<article class="middle">
    <section class="img">
        <img src="../../../../Public/images/1494468026.jpg" alt="">
    </section>
    <section class="title">
        <h3>史太姆积木课精选</h3>
    </section>
    <section class="classTime">
        <i></i>
        <span>已选课时：</span>
        <strong>16课时</strong>
        <span>x1</span>
    </section>
    <section class="credit">
        <i></i>
        <span></span>
        <strong>可用600积分</strong>
        <span>-￥6</span>
        <input type="checkbox">
    </section>
</article>

<script src="__PUBLIC__/Home/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/Home/js/pageloader.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/home/rem.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/home/voteList.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jweixin-1.0.0.js"></script>



</body>
</html>
<!--tailTrap<body></body><head></head><html></html>-->
