@charset "utf-8";
body{
	background: #ebebeb;
}
/*头部 start*/
.header{
	height: 1.38rem;
	line-height: 1.38rem;;
	background: white;
	/*position: relative;*/
	position: fixed;
	top:0;
	width: 100%;
	z-index: 1000;
}
.header a:first-child{
	float: left;
	font-size:0.393rem;
	margin-left: 0.43rem;
	color: #797979;
}
.header h3{
	float: left;
	/*text-align: center;*/
	margin-left: 2.72rem;
	font-size: 0.38rem;
	font-weight: normal;
}
.header a:nth-child(3){
	font-size: 0.24rem;
    /*position: absolute;
    top: 0.72rem;
    right: 0.38rem;*/
    float: right;
    margin-right: 0.38rem;
    color: #797979;
}
/*头部 end*/


/*中部 start*/
.middle{
	margin-top: 0.2rem;
}
form{
	margin-bottom: 5.43rem;
}
form label{
	display: block;
	margin-bottom: 0.04rem;
	height: 0.88rem;
	line-height: 0.88rem;
	position: relative;
	background: white;
}
form label img{
	position: absolute;
	left: 0.27rem;
	width: 0.34rem;
	height: 0.4rem;
	top: 50%;
	margin-top: -0.2rem;
}
form label:first-child img{
	width: 0.39rem;
	height: 0.39rem;
	top: 50%;
	margin-top: -0.195rem;
}
form label input{
	height: 0.8rem;
	margin-left: 0.7rem;
	padding-top: 0.08rem;
	width: 6.36rem;
	border: none;
	color: #797979;
	font-size: 0.3rem;
}
form label:nth-child(7) input{
	height: 0.8rem;
	width: 4.45rem;
	border-right: 2px solid #b5b5b5;
}
form label:nth-child(7) a{
	color: #797979;
/*	margin-left: 0.75rem;*/
	font-size: 0.24rem;
	width: 2.3rem;
	display: inline-block;
	text-align: center;
	float:right;
	margin-top: 0.03rem;
}
.agreement{
	height: 0.88rem;
	margin-bottom: 0.1rem;
}
/*.agreement img{
	float: left;
	display: inline-block;
	width: 0.23rem;
	height: 0.24rem;
	
}*/
.agreement {
	width: 100%;
	background: white;
}
.agreement label{
	display: inline-block;
}
.agreement label i{
	width: 0.23rem;
	height: 0.24rem;
	border: 1px solid #44c13f;
	margin: 0.33rem 0.1rem 0 0.36rem;
	display: inline-block;
	float: left;
}
.agreement label input:checked +i{
	background: url(../images/checked.png) no-repeat center;
}
.agreement span{
	font-size: 0.24rem;
	float: left;
	margin-top: 0.05rem;
}
#submit{
	margin: 0 0.2rem;
	height: 0.78rem;
	width: 7.1rem;
	background: #b5b5b5;
	color: black;
	border: 1px solid #b5b5b5;
	font-size: 0.38rem;
}
.userWarn,.passWarn,.telWarn,.codeWarn,.agreeWarn{
	text-align: center;
	color: #797979;
	margin: 0.1rem;
	display: none;
	font-size: 0.18rem;
}
