<include file="Common:header"/>
<!-- iCheck -->
<link href="__PUBLIC__/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/css/admin/main.css">
<link rel="stylesheet" href="__PUBLIC__/js/webuploader/webuploader.css"/>
<style>
    .webuploader-pick {
        padding: 10px 20px;
    }
</style>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <include file="Common:menu"/>
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>添加轮播图</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>
                            <form id="demo-form2" data-parsley-validate
                                  class="form-horizontal form-label-left form-youpei">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">排序</label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="number" name="sort" min="0" value="{$picture['sort']}"
                                               class="form-control col-md-7 col-xs-12">
                                        <input type="hidden" value="{$picture['id']}" name="id">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">图片</label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div id="filePicker">上传图片</div>
                                        <input type="hidden" name="image" id="upload_image" tabindex="3"
                                               autocomplete="off">
                                        <empty name="picture['image']">
                                            <img id='preview' src='' ref='' width='200' height='200' style='display:none'/>
                                            <else/>
                                            <img id='preview' width='200' height='200' src="/{$picture['image']}"/>
                                        </empty>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">url地址</label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" name="url" value="{$picture['url']}" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button class="btn btn-primary" type="reset">重置</button>
                                        <button type="button" id="table-button-submit" class="btn btn-success">提交
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <include file="Common:footer"/>
        <!-- /footer content -->
    </div>
</div>
<!-- bootstrap-progressbar -->
<script src="__PUBLIC__/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="__PUBLIC__/vendors/iCheck/icheck.min.js"></script>
<!-- self -->
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/plugins/plugins.js"></script>
<script src="__PUBLIC__/js/upload.js"></script>
<script src="__PUBLIC__/js/webuploader/webuploader.js"></script>
<script>
    var SCOPE = {
        'jump_url': '{:U("Picture/addPicture")}',
        'success_url': '{:U("Picture/index")}'
    };
    var ThinkPHP = window.Think = {
        "ROOT": "__ROOT__",
        "PUBLIC": "__PUBLIC__",
        "DOMAIN": "{:HTTPDomain()}"
    };

    $(function () {
        var uploading = null;
        uploadFile({
            server: "{:U('Article/uploadPic')}",
            pick: '#filePicker',
            formData: {dir: 'adspic'},
            callback: function (result) {
                if (result.status == 1) {
                    layer.close(uploading);
                    var json = WST.toJson(result);
                    $('#preview').attr('src', ThinkPHP.DOMAIN + "/" + json.file.savepath + json.file.savethumbname);
                    $('#upload_image').val(json.file.savepath + json.file.savename);
                    $('#preview').show();
                } else {
                    dialog.error(result.message);
                }
            },
            progress: function (rate) {
                uploading = WST.msg('正在上传图片，请稍后...');
            }
        });
    });
</script>
</body>
</html>
