<!DOCTYPE html>
<html>
<head>
    <title>{$header_title|default="优培圈"}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Mobile Devices Support @begin -->
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes"/> <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/dialog.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/main_1-0.css">
    <script type="text/javascript" src="__PUBLIC__/js/home/dialog_1-0.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jweixin-1.0.0.js"></script>
    <!--移动端兼容适配 end -->
</head>
<style>
    .isCollect:before {
        color: #f56b85;
    }

    .isCollect {
        display: inline-block;
        width: 25%;
        margin-left: 5%;
        position: relative;
    }

    .follow {
        display: inline-block;
        width: 25%;
        margin-left: 5%;
        position: relative;
    }
</style>
<link href="__PUBLIC__/css/home/style4.css" rel="stylesheet" type="text/css"/>
<body>
<div class="container">
    <div class="header" data-action="{$Think.ACTION_NAME}">
        <a class="block" href="javascript:void(0)" id="header_go_back"
           data-home-url="{:U('Index/index')}" style="display: none;"></a>
        <h1 style="font-size:20px;">优培圈</h1>
        <a class="block" href="{:U('Index/index')}" id="header_go_home" style="display: none;"></a>
        <notempty name="interests_url">
            <a class="icon_menu block" href="{$interests_url}"></a>
        </notempty>
    </div>
    <div class="main plpr0" style="padding: 10px;">
        <section class="scroll">
            <input type="hidden" name="article_id" id="article_id" value="{$article.id}">
            <h1 style="font-size:20px;">{$article['title']|default="优培圈"}</h1>
            <div class="content">
                <div class="info" style="font-size:14px;" id="content-wrapper">
                    {$organization.description}
                </div>
            </div>
        </section>
    </div>
</div>
</body>
<script src="__PUBLIC__/js/home/zepto.min.js"></script>
<script src="__PUBLIC__/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>
<script>
    $('.video_iframe').each(function () {
        var width = document.getElementById("content-wrapper").offsetWidth, height = Math.ceil(3 * width / 4);
        $(this).attr('width', width);
        $(this).attr('height', height);
        var src = $(this).data('src');
        var f = src;
        if ((0 == f.indexOf("http://v.qq.com/iframe/player.html") || 0 == f.indexOf("http://v.qq.com/iframe/preview.html") || 0 == f.indexOf("https://v.qq.com/iframe/player.html") || 0 == f.indexOf("https://v.qq.com/iframe/preview.html"))) {
            var w = f.match(/[\?&]vid\=([^&]*)/), y = w[1];
            src = "http://v.qq.com/iframe/player.html?vid=" + y + '&width=' + width + '&hegiht=' + height + "&auto=0";
            src = src.replace(/^http:/, location.protocol);
            $(this).data('src', src);
        }
    });
    window.onload = function () {
        $("img,audio,iframe").each(function () {
            var src = $(this).data("src");
            if (src) {
                $(this).attr("src", src);
            }
        });
    }
</script>
<script>
    $(function () {
        $('.close').bind('click', function () {
            $('.ad').hide();
        })
    })
    $(function () {
        $('#conBox').on('keyup', function () {
            var txtval = $('#conBox').val().length;
            console.log(txtval);
            var str = parseInt(140 - txtval);
            console.log(str);
            if (str > 0) {
                $('#num_txt1').html(str);
            } else {
                $('#num_txt1').html('0');
                $('#conBox').val($('#conBox').val().substring(0, 140)); //这里意思是当里面的文字小于等于0的时候，那么字数不能再增加，只能是600个字
            }
            //console.log($('#num_txt').html(str));
        });
    })
</script>
<script>
    $(function () {
        $('img').each(function () {
            var src = $(this).attr('src');
            src = src.replace("ooyyee-crm-static.qiniudn.com", "7b1f8s.com1.z0.glb.clouddn.com");
            $(this).attr('src', src);
        });
    });
</script>
<script src="__PUBLIC__/js/sea.js"></script>
<script>
    var assetsVersion = '2.5';
    seajs.config({
        map: [
            [/^(.*\.(?:css|js))(.*)$/i, '$1?v=' + assetsVersion]
        ],
        base: "__PUBLIC__/js",
        alias: {
            "jquery": "jquery-1.10.2.min.js",
            "zepto": "modules/zepto/zepto",
        }
    });
    seajs.use(["main"], function (main) {
        wrapper = document.getElementById('content-wrapper');
        if (wrapper) {
            main.previewImage(wrapper);
        }
    });
</script>

<script type="text/javascript">
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: "{$signPackage['appId']}", // 必填，公众号的唯一标识
        timestamp: "{$signPackage['timestamp']}", // 必填，生成签名的时间戳
        nonceStr: "{$signPackage['nonceStr']}", // 必填，生成签名的随机串
        signature: "{$signPackage['signature']}",// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'hideOptionMenu', 'showOptionMenu', 'hideMenuItems', 'showMenuItems', 'hideAllNonBaseMenuItem', 'showAllNonBaseMenuItem', 'closeWindow', 'chooseImage', 'uploadImage', 'getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function () {
        wx.onMenuShareAppMessage({
            title: "{$shareData['share_title']}",
            desc: "{$shareData['share_desc']}",
            link: "{$shareData['share_url']}",
            imgUrl: "{$shareData['share_img']}",
            success: function () {
                share_record();
            },
            cancel: function () {
                alert('已取消');
            }
        });
        wx.onMenuShareTimeline({
            title: "{$shareData['share_title']}",
            link: "{$shareData['share_url']}",
            imgUrl: "{$shareData['share_img']}",
            success: function () {
                share_record();// 用户确认分享后执行的回调函数
            },
            cancel: function () {
                alert('已取消');// 用户取消分享后执行的回调函数
            }
        });
        wx.error(function (res) {
//            alert(JSON.stringify(res));
        });
    });
</script>
</html>