<include file="Common:header"/>
<!-- NProgress -->
<link href="__PUBLIC__/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="__PUBLIC__/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- SELF -->
<link rel="stylesheet" href="__PUBLIC__/css/admin/main.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin/index.css">
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    .center_header{
        text-align:center;
        font-size: 19px;
    }
</style>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <include file="Common:menu"/>
        <!-- page content -->
        <if condition="$isSuper eq 2">
            <div class="right_col" role="main" style="padding-bottom: 1px;">
                <div style="text-align: center;margin-top: 110px;">
                    <h1>欢迎登陆优培圈后台</h1>
                </div>
            </div>
            <else/>
            <div class="right_col" role="main" style="padding-bottom: 1px;">
                <div class="center_header">
                    30天内用户积分领取和使用情况
                </div>
                <div class="col_chart">
                    <div style="width:100%;">
                        <canvas id="canvas" style="width:80%;height:500px;"></canvas>
                    </div>
                </div>
                <div class="center_header">
                    半年内用户积分领取和使用情况
                </div>
                <div class="col_chart">
                    <div style="width:100%;">
                        <canvas id="year" style="width:80%;height:500px;"></canvas>
                    </div>
                </div>
            </div>
        </if>
        <!-- /page content -->
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                2017 © 优培圈
            </div>
            <!-- 获取权限 -->
            <div style="display: none">
                <foreach name="accessIdList" key="k" item="val">
                    <p class="accessIdList" attr_key="{$k}" attr_value="{$val}"></p>
                </foreach>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- jQuery -->
        <script src="__PUBLIC__/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="__PUBLIC__/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="__PUBLIC__/vendors/fastclick/lib/fastclick.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="__PUBLIC__/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- Skycons -->
        <script src="__PUBLIC__/vendors/skycons/skycons.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="__PUBLIC__/js/custom/custom.min-index.js"></script>
        <!-- NProgress -->
        <script src="__PUBLIC__/vendors/nprogress/nprogress.js"></script>
        <!-- layer -->
        <script src="__PUBLIC__/js/layer/layer.js"></script>
        <script src="__PUBLIC__/js/dialog.js"></script>
        <!-- common -->
        <script src="__PUBLIC__/js/admin/common.js"></script>
        <!-- /footer content -->
    </div>
</div>
<!-- FastClick -->
<script src="__PUBLIC__/vendors/fastclick/lib/fastclick.js"></script>

<!-- chart.js -->
<script src="__PUBLIC__/js/Chart.js-2.6.0/dist/Chart.bundle.js"></script>
<script src="__PUBLIC__/js/Chart.js-2.6.0/samples/utils.js"></script>
<script>
    var dates = new Array();
    var disburse = new Array();
    var income = new Array();
    var datesData = {$monthData};
    var i = 0;
    $.each(datesData, function (index, item) {
        dates[i] = item['date'];
        disburse[i] = item['disburse'];
        income[i] = item['income'];
        i++;
    });
    var config = {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: "每日支出",
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: disburse,
                fill: false,
            }, {
                label: "每日收入",
                backgroundColor: window.chartColors.green,
                borderColor: window.chartColors.green,
                data: income,
                fill: false,
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                    },
                    ticks: {
                        min: 0,
                        max: 5000,
                        stepSize: 200
                    }
                }]
            }
        }
    };
    var date_year = new Array();
    var disburse_year = new Array();
    var income_year = new Array();
    var yearData = {$yearData};
    var l = 0;
    $.each(yearData, function (index, item) {
        date_year[l] = item['date'];
        disburse_year[l] = item['disburse'];
        income_year[l] = item['income'];
        l++;
    });
    var config_year = {
        type: 'line',
        data: {
            labels: date_year,
            datasets: [{
                label: "每日支出",
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: disburse_year,
                fill: false,
            }, {
                label: "每日收入",
                backgroundColor: window.chartColors.green,
                borderColor: window.chartColors.green,
                data: income_year,
                fill: false,
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                    },
                    ticks: {
                        min: 0,
                        max: 10000,
                        stepSize: 250
                    }
                }]
            }
        }
    };
    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx, config);
        var year = document.getElementById("year").getContext("2d");
        window.myLine = new Chart(year, config_year);
    };
</script>
</body>
</html>
