<footer>
    <div class="pull-right">
        2017 © 优培圈
    </div>
    <!-- 获取权限 -->
    <div style="display: none">
        <foreach name="accessIdList" key="k" item="val">
            <p class="accessIdList" attr_key="{$k}" attr_value="{$val}"></p>
        </foreach>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- jQuery -->
<script src="__PUBLIC__/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__PUBLIC__/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="__PUBLIC__/vendors/fastclick/lib/fastclick.js"></script>
<!-- bootstrap-progressbar -->
<script src="__PUBLIC__/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- Skycons -->
<script src="__PUBLIC__/vendors/skycons/skycons.js"></script>
<!-- Custom Theme Scripts -->
<script src="__PUBLIC__/js/custom/custom.min.js"></script>
<!-- NProgress -->
<script src="__PUBLIC__/vendors/nprogress/nprogress.js"></script>
<!-- layer -->
<script src="__PUBLIC__/js/layer/layer.js"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
<!-- common -->
<script src="__PUBLIC__/js/admin/common.js"></script>