<include file="Common:header"/>
<!-- NProgress -->
<link href="__PUBLIC__/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="__PUBLIC__/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/css/admin/main.css">
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <include file="Common:menu"/>
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> 菜单列表 </h2>
                            <a href="{:U('Menu/addMenu')}" class="btn btn-success add_button btn_access" access_id="229">添加菜单</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <!-- start accordion -->
                            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                <foreach name="menuList" key="k" item="val">
                                    <div class="panel">
                                        <a class="panel-heading {$k == 1?'':'collapsed'}" role="tab"
                                           data-toggle="collapse" data-parent="#accordion" href="#collapse{$val['id']}"
                                           aria-expanded="{$k==1?'true':'false'}" aria-controls="collapseOne">
                                            <div class="father_edit" style="float: right;display: none;">
                                                <span onclick="menu.getMenu({$val['id']})" class="btn_access" access_id="230">修改</span>
                                                <span class="table-button-delete btn_access" access_id="231"
                                                      attr_message="确认删除该菜单？" attr_id="{$val['id']}">删除</span>&nbsp;&nbsp;&nbsp;
                                            </div>
                                            <h4 class="panel-title">{$val['title']}</h4>
                                        </a>
                                        <div id=collapse{$val['id']}
                                             class="panel-collapse {$k==1?'collapse in':'collapse'}" role="tabpanel">
                                            <empty name="val['child']">
                                                <else/>
                                                <div class="panel-body">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>菜单名称</th>
                                                            <th>地址</th>
                                                            <th>排序</th>
                                                            <th>操作</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <foreach name="val['child']" item="vo">
                                                            <tr>
                                                                <td>{$vo['title']}</td>
                                                                <td>{$vo['url']}</td>
                                                                <td>{$vo['sort']}</td>
                                                                <td>
                                                                    <a href="javascript:void(0)"
                                                                       onclick="menu.getMenu({$vo['id']})" class="btn_access" access_id="230">修改</a>
                                                                    <a href="javascript:void(0)"
                                                                       class="table-button-delete btn_access" access_id="231"
                                                                       attr_message="确认删除该菜单？" attr_id="{$vo['id']}">删除</a>
                                                                </td>
                                                            </tr>
                                                        </foreach>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </empty>
                                        </div>
                                    </div>
                                </foreach>
                            </div>
                            <!-- end of accordion -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <include file="Common:footer"/>
        <!-- /footer content -->
    </div>
</div>
<!-- bootstrap-progressbar -->
<script src="__PUBLIC__/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="__PUBLIC__/vendors/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="__PUBLIC__/vendors/fastclick/lib/fastclick.js"></script>
<!-- self -->
<script src="__PUBLIC__/js/admin/menu.js"></script>
<script>
    var SCOPE = {
        'edit_url': '{:U("Menu/addMenu")}',
        'get_url': '{:U("Menu/getMenu")}',
        'delete_url': '{:U("Menu/delete")}',
        'success_url' : '{:U("Menu/manageMenuList")}',
        'get_father_url' : '{:U("Menu/getAdminFatherMenu")}'
    };
</script>
</body>
</html>
