<include file="Common:header"/>
<!-- iCheck -->
<link href="__PUBLIC__/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/css/admin/main.css">
<link rel="stylesheet" href="__PUBLIC__/js/webuploader/webuploader.css"/>
<!-- bootstrap-daterangepicker -->
<link href="__PUBLIC__/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<style>
    .webuploader-pick {
        padding: 10px 20px;
    }

    #demo-form2 {
        float: left;
    }
</style>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <include file="Common:menu"/>
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>添加活动</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>
                            <form id="demo-form2" data-parsley-validate
                                  class="form-horizontal form-label-left form-youpei">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">标题 <span
                                            class="required">*</span></label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" name="title" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">报名开始时间
                                    </label>
                                    <div class="col-md-3 col-sm-6 col-xs-12 form_radio">
                                        <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                            <input type="text" aria-describedby="inputSuccess2Status3"
                                                   name="start_time"
                                                   id="single_cal3"
                                                   class="form-control has-feedback-left" required="required"/>
                                            <span class="fa fa-calendar-o form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">报名结束时间
                                    </label>
                                    <div class="col-md-3 col-sm-6 col-xs-12 form_radio">
                                        <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                            <input type="text" aria-describedby="inputSuccess2Status3"
                                                   name="end_time"
                                                   id="single_cal1"
                                                   class="form-control has-feedback-left" value=""
                                                   required="required"/>
                                            <span class="fa fa-calendar-o form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">活动开始时间
                                    </label>
                                    <div class="col-md-3 col-sm-6 col-xs-12 form_radio">
                                        <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                            <input type="text" aria-describedby="inputSuccess2Status3"
                                                   name="activity_time"
                                                   id="single_cal2"
                                                   class="form-control has-feedback-left" value=""
                                                   required="required"/>
                                            <span class="fa fa-calendar-o form-control-feedback left"
                                                  aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">图片</label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div id="filePicker" style='' class="btn_access" access_id="202">上传图片</div>
                                        <input type="hidden" name="image" id="upload_image"  tabindex="3"
                                               autocomplete="off">
                                        <img id='preview' src='' ref='' width='200' height='200'
                                             style='display:none'/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">最大参加人数</label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="number" name="max_people" class="form-control col-md-7 col-xs-12"
                                               value="1" min="0">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">现价</label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="number" name="price" class="form-control col-md-7 col-xs-12"
                                               value="0.00" min="0">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">活动标签</label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <input type="text" name="tag" class="form-control col-md-7 col-xs-12">
                                        <small>用空格隔开</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">活动详情</label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <textarea name="description" id="info"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">费用说明</label>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <textarea name="cost" id="infos"></textarea>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button class="btn btn-primary" type="reset">重置</button>
                                        <button type="button" id="table-button-submit" class="btn btn-success">提交
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <include file="Common:footer"/>
        <!-- /footer content -->
    </div>
</div>
<!-- bootstrap-progressbar -->
<script src="__PUBLIC__/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="__PUBLIC__/vendors/iCheck/icheck.min.js"></script>
<!-- self -->
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/plugins/plugins.js"></script>
<script src="__PUBLIC__/js/upload.js"></script>
<script src="__PUBLIC__/js/webuploader/webuploader.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="__PUBLIC__/vendors/moment/min/moment.min.js"></script>
<script src="__PUBLIC__/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- uEditor -->
<script src="__PUBLIC__/vendors/ueditor/ueditor.config.js"></script>
<script src="__PUBLIC__/vendors/ueditor/ueditor.all.min.js"></script>
<script src="__PUBLIC__/vendors/ueditor/lang/zh-cn/zh-cn.js"></script>
<!-- product -->
<script src="__PUBLIC__/js/admin/product.js"></script>
<script type="text/javascript" charset="utf-8">
    window.UEDITOR_HOME_URL = "__PUBLIC__/vendors/ueditor/";
    $(document).ready(function () {
        UE.getEditor('info', {
            initialFrameWidth: 900,
            initialFrameHeight: 400,
            serverUrl: "__PUBLIC__/vendors/ueditor/php/controller.php"
        });
        UE.getEditor('infos', {
            initialFrameWidth: 900,
            initialFrameHeight: 400,
            serverUrl: "__PUBLIC__/vendors/ueditor/php/controller.php"
        });
    });
</script>
<script>
    var SCOPE = {
        'jump_url': '{:U("OrganizationActivity/addActivity")}',
        'success_url': '{:U("OrganizationActivity/activityList")}'
    };
    var ThinkPHP = window.Think = {
        "ROOT": "__ROOT__",
        "PUBLIC": "__PUBLIC__",
        "DOMAIN": "{:HTTPDomain()}"
    };

    $(function () {
        var uploading = null;
        uploadFile({
            server: "{:U('Article/uploadPic')}",
            pick: '#filePicker',
            formData: {dir: 'adspic'},
            callback: function (result) {
                if (result.status == 1) {
                    layer.close(uploading);
                    var json = WST.toJson(result);
                    $('#preview').attr('src', ThinkPHP.DOMAIN + "/" + json.file.savepath + json.file.savethumbname);
                    $('#upload_image').val('/' + json.file.savepath + json.file.savename);
                    $('#preview').show();
                } else {
                    dialog.error(result.message);
                }
            },
            progress: function (rate) {
                uploading = WST.msg('正在上传图片，请稍后...');
            }
        });
    });

    function chooseType(type) {
        window.location.href = "{:U('Product/addProduct')}?type=" + type;
    }
</script>
</body>
</html>
