@charset "utf-8";

#middle{ clear:both; overflow:hidden;}
#middle .title p{color:#484848;}

#middle .content{margin-left:36px;}
#middle .content .contact_message{float:left;width: 550px;}
#middle .content .contact_message>div{height:40px;margin-bottom:27px;}
#middle .content .contact_message>div a{display:block;float:left;margin-right: 16px;height:40px; width:28px; position: relative;}
#middle .content .contact_message>div img{height:24px;display: block;top:50%;margin-top: -10px;width: 18px;position: absolute; }
#middle .content .contact_message>div span{display:block;float:left;height:40px;font-size: 18px;line-height: 24px;}
#middle .content .contact_message>p{float: left;}
#middle .content .contact_message .left{margin: 0 32px;}
#middle .content .contact_message> .right{margin:0 72px 0 146px;}
#middle .content .contact_message>p img{margin:0 auto;display: block;}
#middle .content .contact_message>p  span{display: block;font-size: 18px;line-height: 18px;margin-top: 14px;color: #2c2c2c;}

#middle .content .map{float:left;}
#middle .content .map iframe{ width:570px; height:313px;}

#middle .content .message{ clear:both;padding-top: 78px;overflow: hidden;}
#middle .content .message form label{display: block;clear: both; overflow: hidden;}
#middle .content .message form .name{margin-bottom:23px;}
#middle .content .message form .name input{width: 268px;height: 30px; line-height:30px; border:2px solid #63cd63; float:left; padding:0 10px;}
#middle .content .message form .info span{ margin-bottom:18px;}
#middle .content .message form .info textarea{ display:block; width:1024px; height:506px; clear:both; margin-top:20px; border:2px solid #63cd63; padding:6px 10px; line-height:24px;}
#middle .content .message form .name span,.info span{float:left;height:30px; line-height:30px;}
#middle .content .message form .name img,.info img{ float:left; display:block; margin-top:4px;margin-right: 6px;}
#middle .content .message form .code{height:51px; margin-top:22px; margin-bottom:26px;}
#middle .content .message form .code input{ width:92px; height:23px; border:2px solid #63cd63; float:left; margin:13px 31px 0; padding-left:10px; line-height:23px;}
#middle .content .message form .code span{float:left;line-height:51px; height:inherit;}
#middle .content .message form .code img{ float:left;cursor: pointer;}
#middle .content .message form .sub{font-family:"微软雅黑";width:60px; height:31px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px; behavior:url(PIE.htc); color:white; background:#63cd63; font-size:18px; border:0; margin-bottom:110px; cursor:pointer;}