@charset "utf-8";

/*第一模块 about_us*/
#middle .about_us>p{width:724px;font-size:14px;color:#737273;margin:52px auto 0px;}
#middle .about_us>a{display:block;margin:24px auto 22px;color:#63cd63;border:2px solid #63cd63;padding: 4px 0; width:74px; text-align:center;}

#middle .about_us  img{display: block; margin:0 auto;}

/*第二模块 product display*/
#middle .product_display{margin-top:50px; overflow:hidden; clear:both;background: #63cd63;}

#middle .product_display .list {height: 427px;overflow: hidden;width: 1200px;}
#middle .product_display .list ul{margin-right: -40px;height: 427px;margin-left: 14px;overflow: hidden;}
#middle .product_display .list ul li{float: left;width: 270px;margin-right: 30px;padding-top: 20px;height: 407px;cursor: pointer;}
#middle .product_display .list ul li:hover{padding-top: 2px;margin-right:18px;width:282px;}
#middle .product_display .list ul li a img{display:block;width: 270px;height: 334px;border:2px solid white;}
#middle .product_display .list ul li:hover img{width: 282px; height: 352px;border: 2px solid gray;}
#middle .product_display .list ul li a{display: block;text-align: center;margin-top: 16px;color:black;}
#middle .product_display .list ul li:hover a{font-size: 18px;margin-top: 14px;}


#middle .product_display .container>a{display:block;text-align:center;margin:50px auto 46px;color:#ffffff;border:2px solid #ffffff;padding: 4px 0px;width:74px; text-align:center;}

/*第三模块 news center*/
#middle{margin-bottom: 110px;overflow: hidden;clear: both;}

#middle .news_center{margin-top: 4px;}
#middle .news_center .left{width: 48%;float: left;}
#middle .news_center .left ul{margin-bottom: 64px;}
#middle .news_center .left ul:hover{margin-bottom: 26px;}
#middle .news_center .left ul li{margin: 0 14px;overflow: hidden;border-bottom: 2px solid  #827f7f;width: 100%;}
#middle .news_center .left ul li:hover{background: #63cd63;border-bottom:#63cd63;}
#middle .news_center .left ul li a img{width: 92px;height: 92px;display: block;float: left;padding: 10px 12px;}
#middle .news_center .left ul li:hover a img{ width: 120px;height: 122px;padding: 15px 12px;}

#middle .news_center .left ul li .text{float:left;}
#middle .news_center .left ul li .text h4{font-size: 18px;margin-top: 10px;font-weight: normal;}
#middle .news_center .left ul li .text h4 a{ color:black;}
#middle .news_center .left ul li:hover .text h4{ font-weight:normal;font-size: 20px;margin-top: 28px;}
#middle .news_center .left ul li:hover .text p{ color: #000000;font-weight: normal;font-size: 14px;line-height: 26px;}
#middle .news_center .left ul li .text p{font-size: 12px;line-height: 20px;width: 420px; color: #827f7f;}
#middle .news_center .left ul li .text span{display: block;color: #827f7f;font-size: 14px;margin-top: 4px;}

#middle .news_center .left .more  a{display:block;text-align:center;color:#63cd63;border:2px solid #63cd63;padding: 4px 0px; width:74px; margin:0 auto;}

#middle .news_center .right{width: 48%;float:right; }
#middle .news_center .right img{width: 560px;height: 670px;margin-left: 16px;display:block;border: 2px solid #827f7f;}
/*中部 end*/