@charset "utf-8";

#middle .menu ul{margin-top:35px;margin-right:-190px;margin-left:21px;}
#middle .menu ul li{float:left;margin-right:190px;}

#middle .content{margin-bottom: 110px;clear: both;overflow:hidden;}
#middle .content .left{float:left;margin:0 40px 0 54px;}
#middle .content .left>img{ display:block; width:366px; height:412px;border: 2px solid #656364;}
#middle .content .left .group{margin-top:24px;height:68px;}
#middle .content .left .group .left_icon{height:70px;position:relative;width:13px;float:left;padding-right: 20px;}
#middle .content .left .group .right_icon{height:70px;position:relative;width:13px;float:left;}
#middle .content .left .group .left_icon i{width:0;height:0;border:13px solid transparent;border-right:13px solid #8a8a8a;display:block;margin-left:-13px;position:absolute;top:50%;margin-top:-13px; margin-right:20px;}
#middle .content .left .group .right_icon i{width:0;height:0;border:13px solid transparent;border-left:13px solid #8a8a8a;display:block;position:absolute;top:50%;margin-top:-13px; margin-left:20px;margin-right:-13px;}
#middle .content .left .group ul{margin-right:-48px; float:left; width: 348px; overflow: hidden; height: 68px;}
#middle .content .left .group ul li{ margin-right:45px;float: left;}
#middle .content .left .group ul li.on >a img{border: 2px solid #63ce64;}
#middle .content .left .group ul li a img{ width:66px; height:64px;border: 2px solid #656364;}

#middle .content .right{float:left;width:732px;}
#middle .content .right h3{font-size:20px;line-height:25px;margin-bottom:35px;}
#middle .content .right p{font-size:18px;line-height:36px; text-indent:2em;}
#middle .content .right>div{margin:54px auto 0;width: 282px;height: 64px; border-radius:10px;behavior:url(PIE.htc); background:#63cd63;}
#middle .content .right>div>a {height: 64px;width: 90px;background: #dcdcdc;display: inline-block; border-radius:10px;float:left; position:relative;behavior:url(PIE.htc); }
#middle .content .right>div>a img{height:46px;width:44px;left:50%; margin-left:-26px; position:absolute; top:50%; margin-top:-23px;}
#middle .content .right>div span a{float:left; display:block;height:64px;width:190px;background:#63cd63; line-height:64px; text-align:center; color:white;behavior:url(PIE.htc); margin-left:-10px; z-index:1; position:relative;}