@charset "utf-8";

#middle .menu ul{margin-top:35px;margin-right:-190px;margin-left:21px;}
#middle .menu ul li{float:left;margin-right:190px;}

#middle .content ul{margin-right:-26px;overflow:hidden;}
#middle .content ul li{float:left;width:286px;margin-right:18px; background:#fbf9f9;margin-bottom:20px;padding:1px;}
#middle .content ul li:hover{border:1px solid #676464;padding:0px;}
#middle .content ul li:hover h3 a{font-size:18px;text-decoration: underline;line-height:25px;}
#middle .content ul li:hover p>a{color:#686768;}
#middle .content ul li a img{width:286px;height:286px;display: block;}
#middle .content ul li h3 a{font-size:14px;font-weight:normal;line-height:25px;padding-top:5px;margin-left:12px;display: block;color: black;}
#middle .content ul li p{font-size:12px; line-height:25px;margin-top:3px;padding-bottom:5px;margin-left:12px;}
#middle .content ul li p>a{color: #000000;display: block;}

#middle .page{ margin:46px auto 120px; clear:both; overflow:hidden;}
#middle .page ul{float:right; margin-right:2px; }
