<include file="Common:header"/>
<!-- NProgress -->
<link href="__PUBLIC__/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="__PUBLIC__/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- Datatables -->
<link href="__PUBLIC__/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/css/admin/main.css">
<link href="__PUBLIC__/css/admin/page.css" rel="stylesheet">
<style>
    .btn-infos{
        color: #fff;
        background-color: #E8720C;
        border-color: #E8720C;
    }
    #datatable_paginate{display: none;}
    #datatable_info{display:none;}
    #datatable_length{display:none;}
    .pagination ul a{color:#008DE7}
    .dataTables_filter{display: none;}
</style>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <include file="Common:menu"/>
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>申诉订单列表</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-striped jambo_table table-bordered">
                                    <thead>
                                    <tr class="headings">
                                        <th class="column-title">用户名</th>
                                        <th class="column-title">商品名称</th>
                                        <th class="column-title">品类</th>
                                        <th class="column-title">申诉时间</th>
                                        <th class="column-title">状态</th>
                                        <th class="column-title">回复内容</th>
                                        <th class="column-title">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <foreach name="list" item="val">
                                        <tr class="even pointer">
                                            <td>{$val['username']}</td>
                                            <td>{$val['title']}</td>
                                            <td>{$val['cate_name']}</td>
                                            <td>{$val['create_time']|date="Y-m-d H:i:s",###}</td>
                                            <td>{$val['status'] == 1?'申诉中':($val['status'] == 2?'申诉成功': ($val['status'] == 3?'申诉失败':'已取消'))}</td>
                                            <td>{$val['gm_reply']}</td>
                                            <td>
                                                <a href="javascript:changeStatus({$val['id']});" class="btn btn-info btn-xs accomp_lish btn_access" access_id="250">修改结果</a>
                                                <a href="{:U('Order/check',array('id'=>$val['id']))}" class="btn btn-infos btn-xs btn_access" access_id="251">查看</a>
                                            </td>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>
                                <div class="pagination pagination-small">{$page}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <include file="Common:footer"/>
        <!-- /footer content -->
    </div>
</div>
<!-- bootstrap-progressbar -->
<script src="__PUBLIC__/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="__PUBLIC__/vendors/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="__PUBLIC__/vendors/fastclick/lib/fastclick.js"></script>
<!-- Datatables -->
<script src="__PUBLIC__/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="__PUBLIC__/vendors/jszip/dist/jszip.min.js"></script>
<script src="__PUBLIC__/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="__PUBLIC__/vendors/pdfmake/build/vfs_fonts.js"></script>
<!-- self -->
<script>
    function changeStatus(id) {
        layer.open({
            type: 1,
            title: '申诉结果',
            skin: 'layui-layer-rim',
            area: ['370px', '240px'], //宽高
            content: "<form style='margin-top:20px;' id='demo-form2' data-parsley-validate class='form-horizontal form-label-left form-youpei'><div class='form-group'>" +
            "<label class='control-label col-md-3 col-sm-3 col-xs-12'> 申诉结果 </label>" +
            "<div class='col-md-6 col-sm-6 col-xs-12'>" +
            "<input type='hidden' name='id' value='" + id + "'>" +
            "申诉通过:<input type='radio' name='status' class='flat icheckbox_flat-green;' value='2' checked='checked'>" +
            "申诉失败:<input type='radio' name='status' class='flat icheckbox_flat-green;' value='3'>" +
            "</div></div>" +
            "<div class='form-group'>" +
            "<label class='control-label col-md-3 col-sm-3 col-xs-12'> 回复内容 </label>" +
            "<div class='col-md-6 col-sm-6 col-xs-12'>" +
            "<textarea style='width:220px;height:50px;resize:none;' id='reply'></textarea>" +
            "</div></div>" +
            "<div class='form-group'>" +
            "<div class='col-md-6 col-sm-6 col-xs-12 col-md-offset-3'>" +
            "<button class='btn btn-primary' type='reset'>重置</button>" +
            "<button type='button'  class='btn btn-success' onclick='submitStatus()'>提交</button>" +
            "</div></div></form>"
        });
    }

    function submitStatus() {
        var url = "/admin.php/Order/accompLish";
        var status = $("input[name='status']:checked").val();
        var id = $("input[name='id']").val();
        var reply = $("#reply").val();
        $.post(url, {status: status, id: id, reply: reply}, function (result) {
            if (result.status == 1) {
                return dialog.success(result.message, "/admin.php/Order/appeal");
            } else {
                return dialog.error(result.message);
            }
        }, 'json');
    }
</script>
</body>
</html>
