<!DOCTYPE html>
<html>
<head>
    <title>优培圈</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Mobile Devices Support @begin -->
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes"/> <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/dialog.css" media="all"/>
    <script src="__PUBLIC__/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>
    <!--移动端兼容适配 end -->
</head>
<body>
<script>
    $(function () {
        <if condition="$status eq 0">
            layer.open({
            title:'活动暂未开始，敬请期待',
            content:'活动暂未开始，敬请期待~',
            area: ['80%'],
            offset: '35vh',
            end:function () {
            WeixinJSBridge.call('closeWindow');
        }
        });
            <else/>
            layer.open({
            title:'当前活动助力次数查询中',
            content:'当前活动助力次数查询中，请稍候~',
            area: ['80%'],
            offset: '35vh',
            end:function () {
            WeixinJSBridge.call('closeWindow');
        }
        });
        </if>
    });
</script>
</body>
</html>