<include file="Common:header"/>
<link rel="stylesheet" href="__PUBLIC__/css/home/exchange.css">
<body>
<section class="red">
	<img src="../../../../Public/images/close.png" alt="">
     <div class="redlist">
      <input type="hidden" name="integral_exchange" id="integral_exchange" value="{$integral_exchange}">
     <ul>
	     <dt><span>可用积分</span></dt>
	     <li><input type="text" id="integral"  name="integral" class="integral" disabled="true"　readOnly="true" value="{$integral}" style="border:0;"></li>
	     <dt><span>请选择兑换抽奖次数</span></dt>
          <li>
             <div class="redchange">
			    <a class="reduce" href="javascript:void(0)" onclick="reduceProductN()">
				<b class="ico-reduce">-</b></a><span id="num" class="number"><input value="0" disabled="true" type="text" name="" id="count" class="counts"></span><a class="increase" href="javascript:void(0)" onclick="addProductN()"><b class="ico-increase">+</b></a>
					</div>
          </li>
	     </ul>	
	     <div class="twobtn">
		   <div class="footerbtn">
			<a class="submit left3" onclick="submitintegral()">确认兑换</a>
				</div>
						<div class="clr"></div>
					</div>
		 <p style="color:black;text-align: left;text-indent: 7vh;"><span style="color:red">*</span>每日签到，分享文章均可获得积分</p>
		<p style="color:black;text-align: left;text-indent: 7vh;"><span style="color:red">*</span>{$integral_exchange}积分兑换一次抽奖机会</p>
	</div>
</section>
<script src="__PUBLIC__/js/home/exchange.js" type="text/javascript" charset="utf-8"></script>
<include file="Common:footer"/>
</body>
</html>