<include file="Common:header"/>
<link rel="stylesheet" href="__PUBLIC__/css/home/userAddress.css">
<body>
<div class="container interest-container">
<div class="kap-top ty-menu-top">
    <div id="tools_msg" class="ty-tools ty-tools-inner ty-tools-current">
        <span class="title">{$title}<span class="num"></span></span>
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn left btn-user" title="返回" data-icon="ɒ"></a>
 <a href="{:U('Index/index',array('current'=>'1'))}" class="btn right btn-user" title="返回首页"
           data-icon="Ņ"></a>
    </div>
</div>
<div class="yp-content">
            
    <div class="yp-body"> 
       <div class="yp-page-content">
        <div class="yp-tbar-query">
         <!--   <input class="yp-btn-query" value="新增" onclick="javascript:toEditAddress(0)" type="button"> -->
        </div>
        <table class="yp-list">
           <tbody>
           <empty name="List">
           <tr id="empty">
           <td>没有地址可用，新增一个吧！</td>
           <td><input class="yp-btn-query" value="新增" onclick="javascript:toEditAddress(0)" type="button"></td>
           </tr>
           <else />
             <volist name="List" id="vo" key='i'>
             <tr>
               <td>{$i}</td>
               <td>
               <if condition="$vo['isDefault'] == 1">(默认)</if>{$vo['areaname1']}{$vo['areaname2']}{$vo['areaname3']}{$vo['address']}
               </td>
             </tr>
             <tr>
               <td>&nbsp;</td>
               <td>
               {$vo['username']}&nbsp;{$vo['mobile']}
               <a href="javascript:toEditAddress({$vo['addressid']})" class='btn edit'>修改</a>
               <a href="javascript:delAddress({$vo['addressid']})" class='btn del'>删除</a>
               &nbsp;
               </td>
             </tr>
             </volist>
            </empty>
             </tbody>
        </table>
        </div>
    </div>
 </div>
</div>
<include file="Common:footer"/>
<script src="__PUBLIC__/js/home/userAddress.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>