@charset "utf-8";

.navbar ul{height: 0.65rem;line-height:0.65rem;}
.navbar ul li{width: 25%;float:left;text-align: center;background: #63cd63;border-right: 0.02rem solid white;box-sizing:border-box;}
.navbar ul li:first-child+li+li+li{border-right: none;}
.navbar ul li a{color: #ffffff;font-size: 0.24rem;display: block;}

.about>header{height: 0.75rem;line-height: 0.75rem;}
.about>header h3{font-size: 0.36rem;color:#63cd63;margin-right: 0.12rem;float: left;text-align: center;font-weight: normal;}
.about>header >span{font-size: 0.30rem;color: #9a9999;float: left;display: block;text-align: center;margin-top: 0.03rem;}
.about>section{border-top: 0.02rem solid  #9a9999;border-bottom: 0.02rem solid #9a9999;}

.product>header{height: 0.75rem;line-height: 0.75rem;}
.product>header h3{font-size: 0.36rem;color:#63cd63;margin-right: 0.12rem;float: left;text-align: center;font-weight: normal;}
.product>header >span{font-size: 0.30rem;color: #9a9999;float: left;display: block;text-align: center;margin-top: 0.03rem;}

.product .proShow{border-top: 0.02rem solid  #9a9999;border-bottom: 0.02rem solid #9a9999;clear: both;overflow: hidden;}
.product .proShow ul{margin-top: 0.20rem;}

.news>header{height: 0.75rem;line-height: 0.75rem;}
.news>header h3{font-size: 0.36rem;color:#63cd63;margin-right: 0.12rem;float: left;text-align: center;font-weight: normal;}
.news>header >span{font-size: 0.30rem;color: #9a9999;float: left;display: block;text-align: center;margin-top: 0.03rem;}
.news>section{border-top: 0.02rem solid #9a9999;}
.news>section .container ul li{border-bottom: 0.01rem solid #9a9999;margin-top: 0.20rem;}

