@charset "uft-8";

.navbar ul li.on{background: white;}
.navbar ul li.on a{color: black;}

.menu{margin:0 0.20rem;}
.menu ul{height: 0.77rem;line-height:0.77rem;margin-right: -1.5rem;}
.menu ul li{float:left;text-align: center;margin:0.17rem 1.40rem 0.17rem 0;}

.news>section{clear: both;overflow: hidden;}
.news>section ul li{margin-top: 0.20em;border-top: 0.02rem solid #9a9999;}
.news>section ul li h3{margin-top: 0.18rem;}
.news>section ul li span{margin-top: 0.25rem;}
.news>section ul li p{padding: 0 ;margin-bottom: 0.10rem;}
.news>section>a{border-top: 0.02rem solid #9a9999;}
