@charset "utf-8";

.header{height: 0.88rem;background:#63cd63;line-height: 0.88rem;}
.header .page{float: left;margin-left: 0.20rem;margin-right: 0.20rem;}
.header .page a{height:0.88rem;display: table-cell;vertical-align: middle;}
.header .page a img{display: block;height:0.26rem;}
.header >a{display: block;float: left;font-size: 0.24rem;margin-right: 1.42rem;color: white;}
.header h3{float: left;font-size: 0.36rem;margin: 0 auto;color: white;font-weight: normal;}

article .img{margin-top: 0.20rem;}
article .img .bd{height: 4.67rem;overflow: hidden;}
article .img .bd li{height: 4.67rem;overflow: hidden;float: left;width: 100%;}
article .img .bd li img{width: 100%;display: block;height:4.67rem;}

article .img .hd{text-align: center;width: 100%; background: #e5e5e5;margin-bottom: 0.14rem;}
article .img .hd ul{display: inline-block;*display: inline;*zoom:1;}
article .img .hd ul li{width: 0.10rem;height: 0.10rem;float: left;cursor: pointer; border-radius: 50%;background: #a0a0a0;margin:0.33rem 0.03rem 0.15rem;}
article .img .hd ul li.on{background: white;}

article .title{border-bottom: 2px solid #9a9999;}
article .title h3{font-size: 0.30rem;padding-bottom: 0.14rem;margin-left: 0.20rem;font-weight: normal;}
article .content p{color: #5c5b5b;font-size: 0.24rem;line-height: 0.36rem;text-indent: 2em;}

article .content>div{width: 3.28rem;height: 0.60rem;background: #63cd63;margin:0.10rem auto 0.20rem;}
article .content>div a:first-child{width: 0.66rem;height: 0.60rem;text-align: center;float: left;position: relative;background: #dcdcdc;}
article .content>div a img{width: 0.44rem;height: 0.46rem;top: 50%;display: block;position: absolute;margin-top: -0.23rem;left: 50%;margin-left: -0.22rem;}
article .content>div a:first-child +a{width: 2.62rem;height:0.60rem;float: left;display: block;text-align: center;line-height: 0.60rem;font-size: 0.24rem;color: white;}