@charset "uft-8";

.menu ul li a{font-size: 0.26rem;display: block;line-height: 0.38rem;}
.menu ul li.on a{border-bottom: 5px solid #63cd63;color:#63cd63; }
.menu ul li a:hover{border-bottom: 5px solid #63cd63;color:#63cd63; }

.about>section p{font-size: 0.25rem;line-height: 0.38rem;padding: 0.14rem 0;text-indent: 0.02em;}

.product .proShow{clear: both;overflow: hidden;}
.product .proShow ul{text-align: center; clear: both;margin-right: -0.20rem;}
.product .proShow ul li{width: 46.6%;float: left;margin-right: 0.20rem;position: relative;margin-bottom: 0.20rem;}
.product .proShow ul li a figure>img{display: block;width: 100%;}
.product .proShow ul li a figure>figcaption{font-size: 0.24rem;height: 0.44rem; line-height: 0.44rem;position: absolute;bottom:0;margin:0 auto;display: block;width: 100%;background: rgba(0,0,0,0.5);color: white;}
.product .proShow>a{display: block;text-align: center;font-size: 0.24rem;line-height: 0.18rem;margin:0 0 0.20rem;}

.news>section ul li h3{float: left;font-weight: normal;}
.news>section ul li h3 a{font-size: 0.24rem;}
.news>section ul li span{float: right;font-size: 0.16rem;line-height: 0.18rem;color: #898787;margin-top: 0.05rem;}
.news>section ul li p{clear: both;font-size: 0.20rem;line-height: 0.36rem;color: #5c5b5b;width: 5.62rem;padding-bottom: 0.14rem;;}
.news>section>a{display: block;text-align: center;font-size: 0.24rem;line-height: 0.18rem;padding: 0.20rem 0;}

