<!DOCTYPE html>
<!--headTrap<body></body><head></head><html></html>-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <title>优培圈</title>
        <!-- 向下滑动加载的图片样式，需放在外链的第一位 -->
        <link rel="stylesheet" href="http://www.youpei-exc.com/Public/Home/layer/skin/default/layer.css?v=3.0.3303" id="layuicss-skinlayercss">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/common.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/com.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/associationDemo.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/pageloader.css"/>
        <!--<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>-->
        <script type="text/javascript">
            if(/msie/i.test(navigator.userAgent)){window.location.href="http://www.youpei-exc.com/"}
        </script>
        
    </head>
    <body class="kap-loading ty-view-all">
        <include file="Common:common"/>
        <header class="header">
            <a href="javascript:history.back()">
                <img src="../../../../Public/images/back.png" alt="">
            </a>
            <h3>社群</h3>
        </header>
        
        <article class="middle">
            <section class="advert">
                <a href="/index.php/Organization/home.html?id=8"><img src="/Public/images/orgAdvert4.jpg" alt="" style="width: 100%; height: 3.75rem;"/></a>
            </section>
            <div class="courseContent">
                <ul>
                </ul>
                <div class="nomore"></div>
            </div>
        </article>
        <footer class="footer">
            <!-- <div></div> -->
            <ul class="icon">
                <li>
                    <img src="__PUBLIC__/image/circle.png" alt="">
                    <a href="{:U('Index/index',array('current'=>'1'))}">
                        <img src="__PUBLIC__/image/footer_icon1.png"/>
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <img src="__PUBLIC__/image/circle.png" alt="">
                    <a href="{:U('Discovery/index',array('current'=>'2'))}">
                        <img src="__PUBLIC__/image/footer_icon2.png"/>
                        <span>发现</span>
                    </a>
                </li>
                <li>
                    <img src="__PUBLIC__/image/circle.png" alt="">
                    <a href="###">
                        <img src="__PUBLIC__/image/footer_icon3.png"/>
                        <span>社群</span>
                    </a>
                </li>
                <li>
                    <img src="__PUBLIC__/image/circle.png" alt="">
                    <a href="{:U('Personal/index',array('current'=>'4'))}">
                        <img src="__PUBLIC__/image/footer_icon4.png"/>
                        <span>个人中心</span>
                    </a>
                </li>
            </ul>
        </footer>
        <script src="__PUBLIC__/Home/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="__PUBLIC__/Home/js/pageloader.js" type="text/javascript" charset="utf-8"></script>
        <script src="__PUBLIC__/js/home/rem.js" type="text/javascript" charset="utf-8"></script>
        <script src="/Public/Home/layer/layer.js"></script>
        <script src="__PUBLIC__/js/home/association.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
<!--tailTrap<body></body><head></head><html></html>-->