.ty-cat-tags{
    position: fixed;
}
.list-card{
    margin-top:90px;
}
.list-card .price{
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.875rem;
    position: absolute;
    left: 0;
    top: -2.5rem;
    font-weight: normal;
    padding: 0 .625rem 0 .3125rem;
}
.list-card .price:after{
    color:#fff;
}
.list-card .price:before{
    content: "\ffe5";
    font-size: .75rem;
    display: inline-block;
    line-height: .75rem;
    vertical-align: middle;
    margin-top: -.4375rem;
}

