<include file="Common:header"/>
<!-- NProgress -->
<link href="__PUBLIC__/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="__PUBLIC__/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- Datatables -->
<link href="__PUBLIC__/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/css/admin/main.css">
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <include file="Common:menu"/>
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>机构抽奖设置  </h2>
                            <a href="{:U('Userlottery/editTemporaryactivity')}" class="btn btn-success add_button btn_access" access_id="121">添加临时活动</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="btn_access" access_id="31"><a href="{:U('Userlottery/LotteryPrize')}">机构抽奖</a>
                                    </li>
                                    <li role="presentation" class="active btn_access" access_id="116"><a href="{:U('Userlottery/Temporaryactivity')}">临时活动</a>
                                    </li>
                                </ul>
                            <div class="table-responsive">
                                <table id="datatable" class="table table-striped jambo_table table-bordered">
                                    <thead>
                                    <tr class="headings">
                                        <th class="column-title">活动名称</th>
                                        <th class="column-title">是否开启</th>
                                        <th class="column-title">链接二维码</th>
                                        <th class="column-title no-link last"><span class="nobr">操作</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <foreach name="re" item="val">
                                        <tr class="even pointer">
                                         <td>{$val['activityname']}</td>
                                         <td>{$val['status']==1?'开启':'不开启'}</td>
                                         <td><img width="100" height="100" src="{:U('Home/Qrcode/Temporaryactivityqrcode',array('token' => $val['token'],'activityid'=>$val['id']))}"></td>
                                         <td class="last">
                                             <a  class="btn btn-info btn-xs btn_access" access_id="123" href='{:U("Userlottery/editTemporaryactivity",array('id'=>$val['id']))}'>修改</a>
                                             <a class="btn btn-primary btn-xs btn_access" access_id="124" href='{:U("Userlottery/raffleList",array('activityid'=>$val['id']))}'>奖品列表</a>
                                            <a class="btn btn-danger btn-xs btn_access" access_id="125" href='javascript:void (0);' onclick="del({$val['id']})">删除</a>
                                         </td>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <include file="Common:footer"/>
        <!-- /footer content -->
    </div>
</div>
<!-- bootstrap-progressbar -->
<script src="__PUBLIC__/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="__PUBLIC__/vendors/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="__PUBLIC__/vendors/fastclick/lib/fastclick.js"></script>
<!-- Datatables -->
<script src="__PUBLIC__/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="__PUBLIC__/vendors/jszip/dist/jszip.min.js"></script>
<script src="__PUBLIC__/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="__PUBLIC__/vendors/pdfmake/build/vfs_fonts.js"></script>
<!-- self -->
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/plugins/plugins.js"></script>
<script>


  function del(id){
   Plugins.confirm({title:'信息提示',content:'您确定删除该活动以及活动下的奖品?',okText:'确定',cancelText:'取消',
   okFun:function(){
   Plugins.closeWindow();
   Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
   $.post("{:U('Userlottery/delTemporaryactivity')}",{id:id},function(data,textStatus){
            var json = WST.toJson(data);
            if(json.status=='1'){
                Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
                   location.reload();
                }});
            }else{
                Plugins.closeWindow();
                Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
            }
        });
       }});

}

</script>
</body>
</html>

</body>
</html>
